{%- set lart_forms = true %}
{%- extends 'base.html' %}
{% block title %}LART Research Client - Memory Task{% endblock %}
{% block headline %}Memory Task{% endblock %}
{% block head_scripts %}
{% endblock %}
{% block head_styles %}{% endblock %}
{% block drawer_info %}{% endblock %}
{% block drawer_nav_options %}
{% endblock %}
{% block content %}
    <article class="container-fluid p-2">

        <!--
        <div class="progress m-4">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%"></div>
        </div>
        -->

        <div class="row m-4 text-center">
            <h2 id="memoryGameSectionTitle">Thank you for completing the Memory Task!</h2>
        </div>

        <div class="row m-4">
            <div class="col fw-semi p-0" data-lsbq-tr="notes.thankYouMessage">
                Well done on the memory task!<br />
                You have now completed all the tasks. Your data has been saved automatically,
                but please do not close the app yet.<br />
                You can tell the experimenter that you've finished with the app tasks and
                they will check that we have everything we need and give you any further
                instructions if needed.
            </div>
        </div>

        <!-- <form id="surveyNotesForm" class="needs-validation" autocomplete="off">

            <section class="m-4">
                <div class="row mb-1">
                    <div class="col">
                        <label for="participantNote" data-lsbq-tr="note.participantNoteInstructions">
                            Is there anything else that you think is important for us to know about you?
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <textarea class="form-control" style="min-height:15ex" id="participantNote" name="participantNote"></textarea>
                    </div>
                </div>
            </section>

            <div class="row text-end p-3 m-4">
                <div clas="col">
                    <button type="submit" class="btn btn-primary btn-lg btn-action shadow" data-lsbq-tr="notes.submitAndContinue">Submit and Continue</button>
                </div>
            </div>

        </form> -->

    </article>
{% endblock %}
{% block tail_scripts %}
    <!-- {* { lart_form_pipeline('surveyNotesForm', '_lsbqrml_setnotes') } *} -->
{% endblock %}