{%- from 'lart_macros.html' import lart_form_pipeline %}
{% extends 'base.html' %}
{% block title %}LART Research Client - AToL-C - Language 2{% endblock %}
{% block head_scripts %}
    <script type="text/javascript">
        const atolInstanceId = parseInt(lart.forms.searchParams.get('instance'));
        const chosenVersion = sessionStorage.getItem("atolVersion");
        const participantId = sessionStorage.getItem("atolPartId");
        console.log("VERSION ");
        console.log(chosenVersion);

        populateAtolItems = function (atolAllItems) {
            console.log("FULL AToL items list for RML: ")
            console.log(atolAllItems);
            const atolItems = atolAllItems[2];
            const intface = atolAllItems[1];
            console.log("Interface items for RML: ");
            console.log(intface);
            const title = intface["atol_header"]
            const header = intface["title"];
            const rml_header = intface["rml_header"];
            const instruction = intface["instruction"];
            const btn_txt = intface["btn_text"];
            document.getElementById("atolTitle").innerHTML = title;
            document.getElementById("atolSectionTitle").innerHTML = header;
            document.getElementById("language_header").innerHTML = rml_header;
            document.getElementById("slider_info").innerHTML = " " + instruction;
            document.getElementById("next_btn").innerHTML = btn_txt;
            
            const element = document.getElementById('AtolRatingScales');
            for(key in atolItems) {
                let code = `
                    <div id="fieldsetrml${key}">
                        <label class="row mb-0" for="rating_rml_${key}">
                            <div class="col-6 text-start">${atolItems[key][0]}</div>
                            <div class="col-6 text-end">${atolItems[key][1]}</div>
                        </label>
                        <div class="row mb-4">
                            <div class="col-12">
                                <input type="range" class="form-range" min="0" max="100" step="any" id="rating_rml_${key}" required />
                                <div class="invalid-feedback invalid-range">
                                    ${instruction}
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                element.insertAdjacentHTML('beforeend', code);
            }
        }

        eel.atol_c_get_items(chosenVersion)(populateAtolItems);
 
    </script>
{% endblock %}
{% block headline %}<span id="atolTitle"></span>{% endblock %}

{% block head_styles %}{% endblock %}
{% block drawer_info %}{% endblock %}
{% block drawer_nav_options %}
    <li class="nav-item">
        <a class="nav-link" onClick="discard_attempt();"><i class="bi bi-x-circle"></i>  Discard attempt</a>
    </li>
    <li><hr class="nav-divider"></li>
{% endblock %}
{% block content %}
    <article class="container-fluid p-2">

        <div class="row m-4">
            <div class="col">
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width:55%"></div>
                </div>
            </div>
        </div>

        <div class="row m-4 text-center">
            <div class="col">
                <h2 id="atolSectionTitle"></h2>
            </div>
        </div>

        <!-- testing whether we can pick up language choice
            <div id="atolVersion">
                <script type="text/javascript">        
                outputData();
                </script>
            </div>
        -->

        <form id="surveyAtolForm_rml" class="needs-validation">

            <!-- Header -->
            <section class="m-4">
                <div class="row mb-0">
                    <h4 class="col" id="language_header"></h4>
                </div>
                <div class="row mb-0">
                    <div class="col">
                        <p class="help-block text-muted">
                            <i class="bi-info-circle text-info"><span id = "slider_info"></i> 
                            
                        </p>
                    </div>
                </div>
            </section>

            <!-- Atol Ratings for Language 1 -->
            <section class="m-4" id="AtolRatingScales">
                <!-- Placeholder where sliders for each adjective pair will be inserted dynamically -->
            </section>
            <script type="text/javascript">
                lart.forms.monitorRangeInputs('AtolRatingScales');
            </script>

            <!-- Form submission -->
            <div class="row text-end p-3 m-4">
                <div clas="col">
                    <button id="next_btn" type="submit" class="btn btn-primary btn-lg btn-action shadow">
                        
                    </button>
                </div>
            </div>

        </form>

    </article>
{% endblock %}
{% block tail_scripts %}
<script type="text/javascript">
    lart.forms.requireValidation(true);
    lart.forms.registerPipeline(
        'surveyAtolForm_rml',
        async function(data) {
            let success = await eel.grab_atol_ratings(data, 'atolRatingsRml', chosenVersion, participantId)();
            console.log(success);
        }
    );
</script>
{% endblock %}
