
{%- extends 'base.html' %}
{% block title %}LART Research Client{% endblock %}
{% block headline %}LART Research Client{% endblock %}
{% block head_scripts %}
{% endblock %}
{% block head_styles %}{% endblock %}
{% block drawer_info %}{% endblock %}
{% block content %}
    <article class="p-2">
        <div class="container-fluid text-center p-2">
            <h2>Vielen Dank für das Ausfüllen des Fragebogens!</h2>
        </div>
        <div class="container-fluid text-center p-2">
            <h4>Bitte beginnen Sie mit der Gedächtnisaufgabe, wenn Sie bereit sind</h4>
        </div>
        <div class="container-fluid text-center p-2">
            <p></p>
        </div>
        <div class="container-fluid text-center p-2">
            <a id="nextUrlButton" class="btn btn-primary fs-5 p-2" style="min-width:50%" href="../memory-game/index.html">&rarr; Gedächtnisaufgabe beginnen &rarr;</a>
            <script type="text/javascript">
                nextUrl = `../memory-game/index.html?selectSurveyVersion=${sessionStorage.atolVersion}&researcherId=${sessionStorage.atolResId}&researchLocation=${sessionStorage.atolLocation}&participantId=${sessionStorage.atolPartId}&confirmConsent=1&surveyDataForm.submit=true`;
                nextUrlButton = document.getElementById('nextUrlButton');
                nextUrlButton.href = nextUrl;
            </script>
        </div>
         </article>
{% endblock %}