<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/png" href="/img/appicon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/lart-custom.css" />
    <link rel="stylesheet" href="/css/datavalidator.css" />
    {% block head_styles %}{% endblock %}

    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="/js/booteel.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/lart.js"></script>
    {% block head_scripts %}{% endblock -%}
</head>
<body>

    <header class="container-fluid mb-2">
        <div class="row bg-primary text-light text-center p-2">
            <div class="col-1">
                <button id="nav-drawer-toggle" class="navbar-toggler text-light" data-bs-toggle="offcanvas" data-bs-target="#nav-drawer" aria-controls="nav-drawer" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-list"></i></button>
            </div>
            <div class="col">
                <h1>{% block headline %}{% endblock %}</h1>
            </div>
        </div>
        <div id="nav-drawer" class="offcanvas offcanvas-start">
            <div id="nav-header" class="container-fluid bg-primary text-light p-3" aria-controls="nav-drawer" aria-expanded="true">
                <div class="offcanvas-header align-items-start p-0 m-0 mb-2">
                    <p class="offcanvas-title fs-4">L’ART Research Client</p>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <script type="text/javascript">
                    if (typeof lart !== 'undefined') {
                        if (lart.forms.util.isUUID(lart.forms.searchParams.get('instance'))) {
                            document.write(`<p class="small">Instance UUID: ${lart.forms.searchParams.get('instance')}.`);
                        }
                    }
                </script>
                {% block drawer_info %}{% endblock %}
            </div>
            <nav class="navbar sticky-top navbar-light bg-light">
                <ul class="nav flex-column">
                    {% block drawer_nav_options %}{% endblock %}
                    <li class="nav-item">
                        <a class="nav-link disabled"><i class="bi bi-arrow-repeat"></i> Synch now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="eel.export_data_backup()"><i class="bi bi-file-zip"></i> Export data</a>
                    </li>
                    <li class="nav-item">
                        <a id="appLockStateSwitch" class="nav-link"><i class="bi bi-lock"></i> Unlock app</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#settingsModal"><i class="bi-gear"></i> Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#aboutModal"><i class="bi bi-info-circle"></i> About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container-xxl">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="aboutModalLabel"><i class="bi bi-info-circle text-primary"></i> About the L’ART Research Client</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>The L’ART Research Client is being actively developed by the Language Attitudes Research Team at Bangor University.</p>
                    <p class="mb-0">Main contributors:</p>
                    <ul>
                        <li><a href="mailto:f.breit@bangor.ac.uk">Florian Breit</a></li>
                        <li><a href="mailto:m.tamburelli@bangor.ac.uk">Marco Tamburelli</a></li>
                    </ul>
                    <p class="small">
                        This software is dual-licensed under the
                        <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">GNU Affero General Public License 3.0</a>
                        and the
                        <a href="https://commission.europa.eu/content/european-union-public-licence_en" target="_blank">European Union Public Licence</a>,
                        at the user's choice. The source code can be obtained from
                        <a href="https://github.com/lart-bangor/" target="_blank">github.com/lart-bangor</a>
                    </p>
                    <p class="small text-center">
                        The development of this app was supported by the Economic and Social Research Council [grant number ES/V016377/1].<br />
                        <a href="https://bangor.ac.uk/" target="_blank"><img src="/img/BUlogo.png" alt="Bangor University" style="max-width:20%" class="m-3" /></a>
                        <a href="https://www.ukri.org/councils/esrc/" target="_blank"><img src="/img/ESRClogo.png" alt="UKRI Economic and Social Research Council" style="max-width:35%" class="m-3" /></a>
                    </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal" id="settingsModal" tabindex="-1">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Settings</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0 overflow-visible">
                        <iframe id="settingsModalFrame" src="/app/settings/index.html" frameborder="0" style="width:100%;height:100%" loading="lazy"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="settingsModalCloseButton" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="settingsModalSaveButton">Save changes</button>
                        <script type="text/javascript">
                            (function (){
                                function hideNavBar() {
                                    const navDrawerCloseButton = document.getElementById('nav-header').querySelector('button');
                                    navDrawerCloseButton.dispatchEvent(new Event('click'));
                                }

                                const settingsModalCloseButton = document.getElementById('settingsModalCloseButton');
                                settingsModalCloseButton.addEventListener(
                                    'click',
                                    function () {
                                        hideNavBar();
                                    }
                                );

                                const settingsModalSaveButton = document.getElementById('settingsModalSaveButton');
                                const settingsModalFrame = document.getElementById('settingsModalFrame');

                                settingsModalSaveButton.addEventListener(
                                    'click',
                                    function () {
                                        const settingsForm = settingsModalFrame.contentDocument.getElementById('settingsForm');
                                        settingsForm.dispatchEvent(new Event('submit'));
                                    }
                                );

                                function notifySuccessfulUpdate() {
                                    settingsModalFrame.contentWindow.location.reload();
                                    const settingsModal = document.getElementById('settingsModal');
                                    const settingsModalInstance = bootstrap.Modal.getInstance(settingsModal);
                                    settingsModalInstance.hide();

                                    // Show notification
                                    console.error("INSERTING ALERT...")
                                    const mainBody = document.querySelector('main');
                                    const alertElement = document.createElement('div');
                                    alertElement.textContent = "Settings updated successfully. You may need to restart the app for all changes to take effect.";
                                    alertElement.classList.add('alert', 'alert-success', 'm-2');
                                    alertElement.style.position = 'absolute';
                                    alertElement.style.bottom = '2em';
                                    alertElement.style.left = '2em';
                                    alertElement.style.right = '2em';
                                    //const bsAlert = new bootstrap.Alert(alertElement);
                                    mainBody.insertBefore(alertElement, mainBody.firstChild);
                                    setTimeout(
                                        () => {
                                            alertElement.classList.add('fade');
                                            setTimeout(() => alertElement.remove(), 500);
                                        },
                                        4000
                                    );

                                    // Hide nav drawer
                                    hideNavBar();
                                }
                                eel.expose(notifySuccessfulUpdate, "_settings_notify_successful_update");
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block tail_scripts -%}{%- endblock %}

    <script type="text/javascript">
        lart.appLock.registerSwitch('appLockStateSwitch');
    </script>

</body>
</html>