# Python compilation cache etc.
__pycache__/
*.py[cod]
*$py.class
.so
__pypackages__/

# Testing
.pytest_cache
.coverage
.tox/

# Distribution and packaging
dist/
build/
.whl
*.egg-info

# Documentation
docs/build/
docs/source/generated/
docs/source/api/generated/

# Pipenv
# Pipfile.lock

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Virtual environments
.env
.venv

# Type checking
.typings/
typings/
.pyre/
.pytype/

# Temporary backup copies of files
bak
*.bak

# Additional local files
*.local.*
research_assistant/atolc/data/dataLog.txt