[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eel = {extras = ["jinja2"], version = "*"}
platformdirs = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
flake8-docstrings = "*"
black = "*"
pyinstaller = "*"
pillow = "*"
"zope.interface" = "*"
"zope.event" = "*"
setuptools = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
sphinx-inline-tabs = "*"
pylint = "*"
sphinx-toolbox = "*"
sphinx-js = "*"
build = "*"
twine = "*"
macholib = "*"

[requires]
python_version = "3.10"
