
{%- extends 'base.html' %}
{% block title %}LART Research Client{% endblock %}
{% block headline %}LART Research Client{% endblock %}
{% block head_scripts %}
<script type="text/javascript">
    const thanks = sessionStorage.getItem("thankyou");
    const next = sessionStorage.getItem("next");
    const continue_btn = sessionStorage.getItem("continue");
    console.log("THANKS " + thanks);
    console.log("NEXT " + next);
    console.log("CONTINUE " + continue_btn);
    //document.getElementById("thank_you").innerHTML = thanks;
    //document.getElementById("next").innerHTML = next;
</script>
{% endblock %}
{% block head_styles %}{% endblock %}
{% block drawer_info %}{% endblock %}
{% block content %}
    <article class="p-2">
        <div class="container-fluid text-center p-2">
            <h2 id="thank_you"><script type="text/javascript">document.write(thanks)</script></h2>
        </div>
        <div class="container-fluid text-center p-2">
            <h4 id="next"><script type="text/javascript">document.write(next)</script></h4>
        </div>
        <div class="container-fluid text-center p-2">
            <p></p>
        </div>
        <div class="container-fluid text-center p-2">
            <a id="nextUrlButton" class="btn btn-primary fs-5 p-2" style="min-width:50%"><script type="text/javascript">document.write(continue_btn)</script></a>
            <script type="text/javascript">
                function endAtol() {
                    const data = {
                        "version_id": sessionStorage.atolVersion,
                        "researcher_id": sessionStorage.atolResId,
                        "research_location": sessionStorage.atolLocation,
                        "participant_id": sessionStorage.atolPartId,
                        "confirm_consent": 1
                    }
                    eel.atol_end(data)();
                }
                const nextUrlButton = document.getElementById('nextUrlButton');
                nextUrlButton.addEventListener('click', endAtol);
            </script>
        </div>
         </article>
{% endblock %}