body {
    overscroll-behavior: none;
}

.fw-semi {
    font-weight:500;
}

#nav-header {
    min-height: 10rem;
}

.nav.flex-column {
    width: 100%;
}

.nav-divider {
    margin: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    opacity: 0.15;
}

#nav-drawer a.nav-link {
    background:transparent;
    color: black;
    transition: 0.4s;
}

#nav-drawer a.nav-link:hover, #nav-drawer a.nav-link:focus {
    background: #f3f3f3;
    color: #111;
}

#nav-drawer a.nav-link.disabled {
    color: lightgray;
}

#nav-drawer-toggle {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 150%;
}

.nav-link {
    cursor: pointer;
}

.btn-action {
    border-radius: 1rem;
    text-transform: uppercase;
}

#aboutModal .modal-body {
    padding-top:10rem;
    background-image: url('/img/appicon.svgz');
    background-repeat: no-repeat;
    background-size: 8rem;
    background-position-x: center;
    background-position-y: 1rem;
}

.invalid-radio, .invalid-range {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    padding-left: 1.5rem;

}

.invalid-radio {
    position: relative;
    left:-1.5rem;
}

.form-check-input.is-invalid, .was-validated .form-check-input:invalid, .form-select.is-invalid, .was-validated .form-select:invalid, .form-control.is-invalid, .was-validated .form-control:invalid {
    background-color: #fff8f8;
}

.form-range:invalid::-webkit-slider-thumb {
    background-color: var(--bs-cyan);
    opacity: 0.6;
}

.form-range:invalid::-moz-range-thumb {
    background-color: var(--bs-cyan);
    opacity: 0.6;
}

.form-range:invalid::-ms-thumb {
    background-color: var(--bs-cyan);
    opacity: 0.6;
}

.was-validated .form-range:invalid::-webkit-slider-thumb {
    background-color: var(--bs-red);
    opacity: 1;
}

.was-validated .form-range:invalid::-moz-range-thumb {
    background-color: var(--bs-red);
    opacity: 1;
}

.was-validated .form-range:invalid::-ms-thumb {
    background-color: var(--bs-red);
    opacity: 1;
}

.was-validated .form-range:invalid::-webkit-slider-runnable-track {
    background-color: #e6e2de;
  }

.form-range:invalid:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.form-range:invalid:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

fieldset[disabled], *[data-lart-disabled] {
    opacity: 0.6;
}

input[type="range"][disabled] {
    opacity: 0.6;
}