{%- from 'lart_macros.html' import lart_form_pipeline %}
{% extends 'base.html' %}
{% block title %}LART Research Client - Consent{% endblock %}
{% block headline %}LART Research Client - Consent{% endblock %}
{% block head_styles %}
<style type="text/css">
    main .btn-primary {
        min-width: 50%;
    }
    #studyInfo li { color: #0000cd; }

    #consentForm {
        display: none;
    }
    
</style>

{% endblock %}

{% block head_scripts %}
    <script type="text/javascript">
               
        function loadSurveyVersions() {
            availableVersions = eel._lsbqrml_getversions()(populateSurveyVersions);     // this will probably need to be changed to a more generic "survey_rml_get_versions", 
                                                                                        // or hard-coded for each questionnaire.
                }
            
        function populateSurveyVersions(versions) {
            select = document.getElementById('selectSurveyVersion');
            for(version in versions) {
                option = document.createElement('option');
                option.setAttribute('value', version);
                option.appendChild(document.createTextNode(versions[version]))
                select.appendChild(option);
            }
        }

        
        function showStudyInfo() {
            const fetch_version = document.getElementById("selectSurveyVersion");
            const fetch_partId = document.getElementById("participantId");
            const version = fetch_version.value;
            const partId = fetch_partId.value;
            document.getElementById("partId").value = partId; //pass partId on to consent form for processing
            console.log("Selected version: " + version);
            console.log("Participant ID: " + partId);
            jsonFile = "versions/" + version + ".json";  //set filename based on selected version
            fetch(jsonFile)
                .then(response => response.json())
                .then(data => output_info(data));
            }

        
        // Instructions & check button to be outputed depending on language selection
        function output_info(intface) {
            let htmlCode = "";
            const iterableInterface = Object.values(intface.versionInfo); //turn object into array so that it can be iterated through with numbers (to establish label + Info pairs)
            const checkboxInfo = intface.confirmation;
            const confirmLabel = checkboxInfo.confirm;
            const confirmStatement = checkboxInfo.confirmTxt;
            const confirmWarnFeedback = checkboxInfo.confirmWarn;
            const btnLabel = checkboxInfo.btnTxt;
            
            for (let i = 0; i < iterableInterface.length; i+=2) {  // adding 2 to i in order moveto  to next label-info pair
                label = iterableInterface[i];
                info = iterableInterface[i+1];
                htmlCode += '<p>' +
                           '<li>' + label +
                            '</li>' +
                            info +
                            '</p>';
                            document.getElementById("studyInfo").innerHTML = htmlCode;
            }
            document.getElementById("consentLabel").innerHTML = "<b>" + confirmLabel + ": </b>";
            document.getElementById("confirmStatement").innerHTML = confirmStatement;
            document.getElementById("confirmFeedback").innerHTML = confirmWarnFeedback;
            document.getElementById("confirmBtn").innerHTML = btnLabel;
            show_form();
             
        }
        
        function show_form() {
            document.getElementById("consentForm").style.display = "block";             
        }

        function hideBtn() {
            const btn = document.getElementById('hidden-div');
            btn.style.display = 'none';

        }
    </script>

{% endblock %}
{% block drawer_info %}{% endblock %}
{% block drawer_nav_options %}
    <li class="nav-item">
        <a class="nav-link" onClick="window.location = '/app/index.html'";><i class="bi bi-x-circle"></i>  Discard attempt</a>
    </li>
    <li><hr class="nav-divider"></li>
{% endblock %}
{% block content %}
    <article class="p-2">
       

        <div class="row m-4 text-center">
            <div class="col">
                <h2>Participant Consent</h2>
            </div>
        </div>

        <!-- <form id="consentSelectForm" class="needs-validation">-->

            <!-- Language version -->
            <section class="m-4">
                <div class="mb-3">
                    <label for="selectSurveyVersion" class="form-label">Select language version:</label>
                    <select id="selectSurveyVersion" class="form-select" required>
                    </select>
                    <script type="text/javascript">
                        loadSurveyVersions();
                    </script>
                    <div class="invalid-feedback">
                        <p>Please select one of the available versions.</p>
                    </div>
                </div>
            </section>

            <!-- Participant details -->
            <section class="m-4">
                <div class="mb-3">
                    <label for="participantId" class="form-label">Participant ID:</label>
                    <input type="text" class="form-control" id="participantId" aria-describedby="participantIdHelp" pattern="[A-Za-z0-9]{3,10}" required autocomplete="off" />
                    <div id="participantIdHelp" class="form-text">Enter the participant’s pre-assigned ID.</div>
                    <div class="invalid-feedback">
                        <p>Please provide a valid Participant ID The ID can only contain letters and numbers (no spaces, hyphens, etc.), and should not contain personally identifiable information (such as a name) in order to protect the confidentiality of the collected data.</p>
                    </div>
                </div>
            </section>

            <!-- Activate version -->
            

            <!-- Displaying study information for consent -->
        <p id = "userInfo"></p>
        <ol id="studyInfo"></ol>


             <!-- Displaying consent form -->
            <div id="consentForm">
                <form id="partConsent" class="needs-validation" >
                    <section class="m-4">
                        <div class="mb-3">
                            <p class="form-label" style="margin-left:0" id="consentLabel"> </p>
                            <div class="form-check">
                                <input type="hidden" id="partId" /> <!-- this gets filled by JS within showStudyInfo()-->
                                <input type="checkbox" class="form-check-input" id="informedConsent" required autocomplete="off" />
                                <label class="form-check-label" for="confirmConsent" id="confirmStatement"> 
                                </label>
                                <div class="invalid-feedback"><p id="confirmFeedback"><p>
                                </div>
                            </div> 
                        </div>
                    </section>
                    
                    <!-- Form submission -->
                    <div class="row text-center p-3 m-4">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-lg btn-action shadow" id="confirmBtn"></button>
                        </div>
                    
                    </div>
                                      
                
                </form>
            </div>

            <!-- Activate version   -->
            <div class="row text-center p-3 m-4" id="hidden-div">
                <div class="col">
                    <button class="btn btn-primary btn-lg btn-action shadow" onclick="showStudyInfo(); hideBtn();">Start</button>

                </div>
            </div>

            

            
      

    </article>
{% endblock %}
{% block tail_scripts %}
<script type="text/javascript">
    lart.forms.requireValidation(true);
    lart.forms.registerPipeline(
        'partConsent',
        async function(data) {
            let success = await eel.record_consent(data)();
            console.log("tail script: " + success);
        }
    );
</script>
{% endblock %}