{%- extends 'base.html' %}
{% block title %}LART Research Client{% endblock %}
{% block headline %}Participant information sheet{% endblock %}
{% block head_scripts %}
<script type="text/javascript">
function recordData() {
    const consent = document.getElementById("selectSurveyVersion").value;
        
    sessionStorage.setItem("atolVersion", atolVersion);
    }

// Requiring fs module in which
// writeFile function is defined.
function testData() {
    console.log("Going to write into existing file");
    const fs = require('fs')
  
    // Data which will write in a file.
    let data = "Learning how to write in a file."
  
    // Write data in 'Output.txt' .
    fs.writeFile('Output.txt', data, (err) => {
      
        // In case of a error throw err.
        if (err) throw err;
    })
}
</script>

{% endblock %}
{% block head_styles %}
<style type="text/css">
    main .btn-primary {
        min-width: 50%;
    }
    #infoItem li { color: #0000cd; }
</style>
{% endblock %}
{% block drawer_info %}{% endblock %}
{% block drawer_nav_options %}
{% endblock %}{% block content %}
    <article class="p-2">
        <div class="row m-4">
                <ol id="infoItem">
                    <p>
                <li> Study Title </li>
                Executive function in bilingual speakers.
                </p>

                <p>
                    <li>What is the purpose of the research? </li> 
                    This study is part of a larger research project investigating bilingualism across Europe. 
                    <br /> The project aims to find out more about bilinguals in several areas across Europe, including Wales. 
                </p>
                
                <p>
                    <li>Why am I being invited to participate?  </li>
                    You have been chosen because you are a bilingual Welsh-English speaker. 
                </p>
                
                <p>
                    <li>Do I have to take part? </li>
                    It is up to you to decide whether or not to take part. If you do decide to take part you should indicate your agreement on the online consent form. 
                    <br />You can still withdraw at any time, and you do not need to give a reason.
                </p>
                
                <p>
                    <li>What am I being invited to do? </li>
                    You will be asked to complete an electronic questionnaire and play a quick electronic game. 
                    <br /> We estimate that they full procedure will take you about 20 minutes to complete. 
                    <br />There are no other commitments or restrictions associated with participating. 

                </p>

                <p>
                    <li> What are the possible disadvantages and risks of taking part?</li>
                    Participating in the research is not anticipated to cause you any disadvantages or discomfort 
                    <br />beyond what you might experience in everyday life. 
                </p>

                <p>
                    <li>What if something goes wrong?   </li>
                    If you have any complaints about the project in the first instance you can contact any member of the research team. 
                    <br />If you feel your complaint has not been handled to your satisfaction you can contact Bangor University’s Governance Services to take your complaint further (see below).  
                </p>

                <p>
                    <li>Will my taking part in this project be kept confidential? </li>
                    All the information that we collect about you during the course of the research will be kept strictly confidential. 
                    <br />You will not be identified or identifiable in any reports or publications. Any data collected about you in the electronic questionnaire will be stored in a Bangor University computer protected by passwords and by other relevant security processes and technologies. 
                    <br/> Data may be shared in an anonymised form to allow reuse by other researchers. These anonymised data will not allow you to be identified or identifiable. 
                    <br /> We also ask that you do not disclose anything about what you did during this study to anyone outside of the research team. It is important that information regarding the nature of the research remains confidential. 
                </p>

                <p>
                    <li> Will I be recorded, and how will the recorded media be used?   </li>
                    You may be audio-recorded while taking part in the research. 
                    <br />If you happen to be recorded, you will be informed in details at the end of your participation. 
               </p>

                <p>
                    <li>What type of information will be sought from me and why is the collection of this information relevant for achieving the research project's objectives?   </li>
                    The questionnaire will ask you about your opinions and current language use in Wales. 
                    <br /> Your experience as a speaker is exactly what the project is interested in exploring.  
                </p>

                <p>
                    <li>What will happen to the results of the research project?   </li>
                    Results of the research will be published as quantitative data, which means that no single individual will be identified in any report or publication.  
                </p>

                <p>
                    <li>Who is organising and funding the research?   </li>
                    The project is a partnership involving Dr Marco Tamburelli and Prof Guillaume Thierry of Bangor University, and is funded by the UK's Economic and Social Research Council. 
                </p>

                <p>
                    <li>Who has ethically reviewed the project?</li>
                    This project has been ethically approved by the Research Ethics Committee in the College of Arts, Humanities and Business at Bangor University. 
                    <br />This is the body that caries out the ethics review procedure and monitors the application and delivery of the College's and University's Research Ethics Guidelines and Ethics Approval Procedures.  
                </p>

                <p>
                    <li>Contacts for further information </li>
                    <i>Dr Marco Tamburelli</i> (Principal Investigator), School of Arts, Culture and Language, 39 College Road, Bangor University, UK. Tel: +44 (0)1248 38 2078, email: m.tamburelli@bangor.ac.uk   
                    <br />
                    The contact person for Bangor University's Governance Services is <i>Lauren Roberts</i> who can be reached at the following address: Lauren Roberts, Governance Services, Bangor University, Bangor, Gwynedd, LL57 2DG, UK or via email: l.roberts@bangor.ac.uk  

                </p>


            </ol>
            
        </div>
        
    
    <form id="partConsent" class="needs-validation" >
        <!--action="../index.html"

        -->

    <section class="m-4">
        <div class="mb-3">
            <p class="form-label" style="margin-left:0">Confirm consent:</p>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="informedConsent" required autocomplete="off" />
                <label class="form-check-label" for="confirmConsent">Please confirm that you have read and understood the above, and that you are willing to participate in the study. Thank you.  
                    </label>
                <div class="invalid-feedback">
                    <p>Please confirm that you consent to the above before beginning your paarticipation in the study, thank you.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Form submission -->
    <div class="row text-center p-3 m-4">
        <div class="col">
            <button type="submit" class="btn btn-primary btn-lg btn-action shadow">Confirm</button>
        </div>
    </div>

</form>
</article>
    
{% endblock %}

{% block tail_scripts %}
    <script type="text/javascript">
        lart.forms.requireValidation(true);
        lart.forms.registerPipeline(
            'partConsent',
            async function(data) {
                let success = await eel.record_consent(data)();
                console.log("tail script: " + success);
            }
        );
    </script>
    {% endblock %}