{%- from 'lart_macros.html' import lart_form_pipeline %}
{% extends 'base.html' %}
{% block title %}LART Research Client - MGT(RML){% endblock %}
{% block headline %}LART Research Client - MGT(RML){% endblock %}
{% block head_styles %}
<style type="text/css">
    
    #consentForm ol { color: #0000cd; }

    #mgtBody {
        display: none;
        }
    #mgtBtn {
        display: none;
    }

    #practiceBtn {
        display: none;
        }
    #practiceSlider_info {
        display: none;
    }
    
    #practice {
        display: none;
        }

        
 .show {
    display: block;
}

#instructionsMain {
  
  margin: auto;  
  background-color: lightgray;
  width: 60%;
  border: 1px solid darkgrey;
  padding: 20px;
  display: none;
  
}
    
</style>
{% endblock %}

{% block head_scripts %}
<script type="text/javascript" src="../../js/mgt.js"></script>
{% endblock %}

{% block drawer_info %}{% endblock %}
{% block drawer_nav_options %}
    <li class="nav-item">
        <a class="nav-link" onClick="window.location = 'index.html'";><i class="bi bi-x-circle"></i>  Discard attempt</a>
    </li>
    <li><hr class="nav-divider"></li>
{% endblock %}
{% block content %}
  
    <article class="p-2" id="mgtTop">

        <div class="row m-4 text-center">
            <div class="col">
                <h2>MGT: voice rating</h2>
            </div>
        </div>
    <!-- Progress bar    
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:70%">
        </div>
      </div>
    -->
    
        <div id = "mgtToggleForm">
        <form id="mgtSelectForm" class="needs-validation">

            <!-- Language version -->
            <section class="m-4">
                <div class="mb-3">
                    <label for="selectMgtVersion" class="form-label">Select language version:</label>
                    <select id="selectMgtVersion" class="form-select" required>
                    </select>
                    <script type="text/javascript">
                        loadSurveyVersions();
                    </script>
                    <div class="invalid-feedback">
                        <p>Please select one of the available versions.</p>
                    </div>
                </div>
            </section>
            <section class="m-4">
            <div class="mb-3">
                <label for="researcherId" class="form-label">Researcher ID:</label>
                <input type="text" class="form-control" id="researcherId" aria-describedby="researcherIdHelp" pattern="[A-Za-z0-9]{3,10}" required />
                <div id="researcherIdHelp" class="form-text">Enter the researcher’s name or ID.</div>
                <div class="invalid-feedback">
                    <p>Please provide a valid Researcher ID or name. The ID can only contain letters and numbers (no spaces, hyphens, etc.) and must be between 3 and 10 characters in length.</p>
                </div>
            </div>
            </section>

            <section class="m-4">
            <div class="mb-3">
                <label for="researchLocation" class="form-label">Location:</label>
                <input type="text" class="form-control" id="researchLocation" aria-describedby="researchLocationHelp" pattern="[A-Za-z0-9 ,\(\)]{1,50}" required />
                <div id="researchLocationHelp" class="form-text">Enter the location (e.g. town name) where the research is undertaken.</div>
                <div class="invalid-feedback">
                    <p>Please enter a location name, for example <i>Bangor, Gwynedd</i>. Location names can contain letters, numbers, spaces, commas and parentheses and they can be up to 50 characters in length.</p>
                </div>
            </div>
            </section>

            <!-- Participant details -->
            <section class="m-4">
                <div class="mb-3">
                    <label for="participantId" class="form-label">Participant ID:</label>
                    <input type="text" class="form-control" id="participantId" aria-describedby="participantIdHelp" pattern="[A-Za-z0-9]{3,10}" required autocomplete="off" />
                    <div id="participantIdHelp" class="form-text">Enter the participant’s pre-assigned ID.</div>
                    <div class="invalid-feedback">
                        <p>Please provide a valid Participant ID The ID can only contain letters and numbers (no spaces, hyphens, etc.), and should not contain personally identifiable information (such as a name) in order to protect the confidentiality of the collected data.</p>
                    </div>
                </div>
            </section>
        </div>
        </form>
    </article>

    <!-- Section for practice guise -->
<section id = "instructions">
    <div id="instructionsHead"></div>
    <div id ="instructionsMain"></div>
    <div class="row text-center p-3 m-4" id="practiceBtn">
        <div class="col">
        <button class="btn btn-primary btn-lg btn-action shadow" onclick="showPractice();">[begin pratice]</button>
        </div>
    </div>
</section>
<section id="practice">
    <div id="practiceHeader"></div>
    <div class="row mt-0 mb-0">
        <div class="col">
            <p class="help-block p-2 text-muted"><i class="bi-info-circle text-info" id="practiceSlider_info"></i> 
            </p>
        </div>
    </div>
    <div id="practiceBody"></div>
    <div id="practiceEnd"></div>
</section>

 <!-- This is where the MGt main body begins -->
 <section id="mgtBody">
   

<div class="row m-2 text-center">
    <h2></h2>
</div>

<form id="mgtDataForm" class="needs-validation"> 

    <!-- Name language statement to agree with... -->
    <div class="row mt-5 mb-0">
        <div class="col"><h4><p id="language_header">
                </p>
                </h4>
            
        </div>
    </div>

    <!-- Instructions -->
    <div class="row mt-0 mb-0">
        <div class="col">
            <p class="help-block p-2 text-muted"><i class="bi-info-circle text-info" id="slider_info"></i> 
            </p>
        </div>
    </div>

    <div id="mgtRatingScales">
        <!-- Placeholder where JavaScript will insert sliders -->
        <div id="mgtRatingScale_0" class="show"></div>
        <div id="mgtRatingScale_1"  class="show"></div>
        <div id="mgtRatingScale_2"  class="show"></div>
        <div id="mgtRatingScale_3"  class="show"></div>
        <div id="mgtRatingScale_4" class="show"></div>
        <div id="mgtRatingScale_5" class="show"></div>
        <div id="mgtRatingScale_6" class="show"></div>
        <div id="mgtRatingScale_7" class="show"></div>
        <div id="mgtRatingScale_8" class="show"></div>
        <div id="mgtRatingScale_9" class="show"></div>
        <div id="mgtRatingScale_10" class="show"></div>
        <div id="mgtRatingScale_11" class="show"></div>
        
    </div>
    
</form>
</section>
<!-- Form submission -->
<section id="mgtBtn">
<div class="row text-end p-3">
    <div clas="col">
        <button class="btn btn-primary btn-lg btn-action shadow" id="btnNext" onclick="moveToNext();">
       </button>
    </div>
</div>
</section>



<!-- Activate version   -->

    <div class="row text-center p-3 m-4" id="toggle-btn">
        <div class="col">
        <button class="btn btn-primary btn-lg btn-action shadow" onclick="showMgt();">Start</button>
        </div>
    </div>
</article>

{% endblock %}
{% block tail_scripts %}
<script type="text/javascript">
    lart.forms.requireValidation(true);
    lart.forms.registerPipeline(
        'mgtDataForm',
        async function(data) {
            let success = await eel.record_consent(data)();
            console.log("tail script: " + success);
        }
    );
</script>
{% endblock %}