{% set lart_forms = true %}
{%- from 'lart_macros.html' import lart_form_pipeline %}
{% extends 'base.html' %}
{% block title %}MGT-RML {% endblock %}
{% block head_scripts %}
<script type="text/javascript">
mgtInstanceId = parseInt(lart.forms.searchParams.get('instance'));
chosenVersion = sessionStorage.getItem("mgtVersion");
partId = sessionStorage.getItem("mgtPartId");

// instructions to be outputed depending on language selection
function fetchMgtInfo()  {
            console.log("Selected version: " + chosenVersion);
            console.log("Participant ID: " + partId);
            jsonFile = "versions/" + chosenVersion + ".json";  //set filename based on selected version
                fetch(jsonFile)
                    .then(response => response.json())
                    .then(data => displayMgt(data));  //pass the contents of jsonFile to output_info()
            }

function displayMgt(data) {
    //console.log(data);
    const headerElement = document.getElementById("language_header");
    const sliderElement = document.getElementById("slider_info");
    const btnElement = document.getElementById("btnNext");
    const mgtElement = document.getElementById('mgtRatingScales');
    const headerTxt = data.base.header;
    const agree = data.base.agreement;
    const disagree = data.base.disagreement;
    const sliderTxt = data.base.sliderInfo;
    const sliderWarn = data.base.sliderWarn;
    const btnTxt = data.base.nextBtn;
    headerElement.innerHTML =  headerTxt;
    sliderElement.innerHTML =  " " + sliderTxt;
    btnElement.innerHTML = btnTxt;
    itemList = data.mgtItems;
     
    console.log("Items = ");
    console.log(itemList);
    console.log(typeof(mgtItems));
    let itemsLen = itemList.length;
    let code = "<ul>";
    for (let i = 0; i < itemsLen; i++) {
        code += "<div class='row mb-0'>" +
                    "<div class='col-2'></div>" +
                    "<div class='col-5 text-start'><div style = 'font-size: small'>" + agree + "</div></div>" +
                    "<div class='col-5 text-end'><div style = 'font-size: small'>" + disagree + "</div></div>" +
                "</div>" +
                "<div class='row mb-1'>" +
                "<label for='" + "LANGUAGE_+_VOICE' " + "class='col-2 col-form-label'>" +  //s will pull from a variable once we have the info about which recording is being judged
                    itemList[i] + 
                "</label>" +
                "<div class='col-10 mt-2'>" +
                    "<input type='range' class='form-range d-block' min='0' max='100' step='any' id='" + "VALUE TBA" + "' required />" +
                    "<div class='invalid-feedback invalid-range'>" + sliderWarn + "</div>" +
                "</div>" +
            "</div>" + 
            "<div><p><br /><br /><br /><br /></p></div>";
       
                               
        }
    mgtElement.insertAdjacentHTML('beforeend', code);
    }

    fetchMgtInfo(chosenVersion);
    eel.playGuise();
    

</script>

{% endblock %}
{% block headline %}MGT - RML{% endblock %}

{% block head_styles %}{% endblock %}
{% block drawer_info %}{% endblock %}
{% block drawer_nav_options %}
    <li class="nav-item">
        <a class="nav-link" onClick="discard_attempt()"><i class="bi bi-x-circle"></i>  Discard attempt</a>
    </li>
    <li><hr class="nav-divider"></li>
{% endblock %}
{% block content %}
    <!-- Progress bar-->    
<article class="container-fluid p-2">
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
        </div>
        <div class="row m-2 text-center">
            <h2></h2>
        </div>


        <form id="mgtForm_one" class="needs-validation"> <!-- action="part2.html">-->

            <!-- Name language statement to agree with... -->
            <div class="row mt-5 mb-0">
                <div class="col"><h4><p id="language_header">
                        </p>
                        </h4>
                    
                </div>
            </div>

            <!-- Instructions -->
            <div class="row mt-0 mb-0">
                <div class="col">
                    <p class="help-block p-2 text-muted"><i class="bi-info-circle text-info" id="slider_info"></i> 
                    </p>
                </div>
            </div>

            <div id="mgtRatingScales">
                <!-- Placeholder where JavaScript will insert sliders -->
            </div>
                               
            <!-- Form submission -->
            <div class="row text-end p-3">
                <div clas="col">
                    <button type="submit" class="btn btn-primary btn-lg btn-action shadow" id="btnNext">
                        
                        
                    </button>
                </div>
            </div>
        </form>
    </article>
{% endblock %}
{% block tail_scripts %}
<script type="text/javascript">
    lart.forms.requireValidation(true);
    lart.forms.registerPipeline(
        'mgtForm_one',
        async function(data) {

            let success = await eel.grab_mgt_ratings(data, 'mgtRatings', chosenVersion)();
            console.log("tail script: " + success);
           
        }
    );
</script>
{% endblock %}
