{%- from 'lart_macros.html' import lart_form_pipeline %}
{%- extends 'base.html' %}
{% block title %}L’ART Research Client - LSBQₑ - Language and Dialect Background{% endblock %}
{% block headline %}<span id="lsbqAppTitle" data-lsbq-tr="base.appTitle">Language and Social Background Questionnaire</span>{% endblock %}
{% block head_scripts %}
    <script type="text/javascript" src="/js/jquery-3.6.3.min.js"></script>
    <script type="text/javascript" src="/js/select2.min.js"></script>
{% endblock %}
{% block head_styles %}
    <link rel="stylesheet" href="/css/select2.min.css" />
    <link rel="stylesheet" href="/css/select2-bootstrap-5-theme.min.css" />
    <style type="text/css">
        .select2-container--bootstrap-5 .select2--small.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
            padding: 0.1em 0.65em;
            margin: 0.1rem;
        }
        .select2-container--bootstrap-5 .select2--small.select2-selection {
            min-height: 3.6rem;
        }
    </style>
{% endblock %}
{% block drawer_info %}{% endblock %}
{% block drawer_nav_options %}
    <li class="nav-item">
        <a class="nav-link" onClick="discard_attempt()"><i class="bi bi-x-circle"></i>  Discard attempt</a>
    </li>
    <li><hr class="nav-divider"></li>
{% endblock %}
{% block content %}
    <article class="container-fluid p-2">

        <div class="progress m-4">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
        </div>

        <div class="row m-4 text-center">
            <h2  id="lsbqSectionTitle" data-lsbq-tr="ldb.secTitle">Language and Dialect Background</h2>
        </div>

        <form id="surveyLDBForm" class="needs-validation" autocomplete="off">

            <!-- 10. Languages and dialects you can speak -->
            <section class="m-4">
                <div class="row mb-1 mt-3">
                    <div class="col-auto">
                        <p data-lsbq-tr="ldb.languagesInstructions">List all the languages and dialects you can speak and understand, including [RML] and [MajorityLanguage], in order of how comfortable you feel using them:</p>
                    </div>
                </div>
                <div class="row mb-1 align-items-end">
                    <div class="col-1"></div>
                    <div class="col-3 small" data-lsbq-tr="ldb.languageName">
                        Language or dialect
                    </div>
                    <div class="col-3 small" data-lsbq-tr="ldb.learnedWhere">
                        Where did you learn it?
                    </div>
                    <div class="col-2 small" data-lsbq-tr="ldb.learnedAge">
                        At what age did you learn it?
                    </div>
                    <div class="col-3 small" data-lsbq-tr="ldb.learnedBreaks">
                        Were there any significant periods in your life when you did not use this language?
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-7 small">
                    </div>
                    <div class="col-2 small">
                        <small class="help-block text-muted"><i class="bi-info-circle text-info"></i> <span data-lsbq-tr="ldb.learnedAgeInfo">If learned from birth enter &ldquo;0&rdquo;.</span></small>
                    </div>
                    <div class="col-3 small">
                        <small class="help-block text-muted"><i class="bi-info-circle text-info"></i> <span data-lsbq-tr="ldb.learnedBreaksInfo">Indicate duration in months/years.</span></small>
                    </div>
                </div>
                <datalist id="languageListOptions">
                    <option value="English" />
                    <option value="Welsh" />
                    <option value="British Sign Language" />
                    <option value="Scottish Gaelic" />
                    <option value="Scots" />
                    <option value="Irish" />
                    <option value="Spanish" />
                    <option value="French" />
                    <option value="German" />
                    <option value="Japanese" />
                    <option value="Italian" />
                    <option value="Chinese" />
                    <option value="Arabic" />
                    <option value="Russian" />
                    <option value="Korean" />
                    <option value="Greek (modern)" />
                    <option value="Portuguese" />
                    <option value="Hebrew (modern)" />
                </datalist>
                <template id="languagesSpokenTemplate">
                    <div class="row mb-3" id="languagesSpoken-[LanguageNumber]">
                        <!-- field: languagesSpokenLanguage-[LanguageNumber] -->
                        <div class="col-1 d-flex align-items-start justify-content-end pe-1">
                            <a class="btn btn-outline-secondary opacity-75 mt-2" id="languagesSpokenDelete-[LanguageNumber]"><i class="bi bi-trash"></i></a>
                        </div>
                        <div class="col-3 form-floating">
                            <input list="languageListOptions" class="form-control" id="languagesSpokenLanguage-[LanguageNumber]" name="languagesSpokenLanguage-[LanguageNumber]" pattern="[\p{Letter}\p{Mark}][\p{Letter}\p{Mark}0-9\-_ \(\)]{2,50}" />
                            <label for="languagesSpokenLanguage-[LanguageNumber]" class="col-form-label col-auto pt-2 ms-2" data-lsbq-tr="ldb.languageNameLabel">Language name</label>
                            <div class="invalid-feedback" data-lsbq-tr="ldb.languageNameFeedback">Please give the name of a language or dialect (between 3 and 50 characters). You <i>must</i> list at least <i>two</i> languages/dialects.</div>
                        </div>
                        <!-- fields: languagesSpokenSource-[LanguageNumber] and languagesSpokenSourceSpecifyBlock-[LanguageNumber] -->
                        <div class="col-3">
                            <div class="form-floating">
                                <select class="form-select" id="languagesSpokenSource-[LanguageNumber]" name="languagesSpokenSource-[LanguageNumber]" multiple style="min-height:2em">
                                    <option value="h" data-lsbq-tr="ldb.atHome">At home</option>
                                    <option value="s" data-lsbq-tr="ldb.atSchool">At school</option>
                                    <option value="c" data-lsbq-tr="ldb.inCommunity">In the community</option>
                                    <option value="o" data-lsbq-tr="ldb.other">Other</option>
                                </select>
                                <label for="languagesSpokenSource-[LanguageNumber]" class="col-form-label col-auto pt-2 ms-0" data-lsbq-tr="ldb.learnedWhereLabel">Learned where</label>
                                <div class="invalid-feedback" data-lsbq-tr="ldb.learnedWhereFeedback">Please select an option.</div>
                            </div>
                            <div class="form-floating mt-1" id="languagesSpokenSourceSpecifyBlock-[LanguageNumber]">
                                <input type="text" class="form-control" id="languagesSpokenSourceSpecify-[LanguageNumber]" name="languagesSpokenSourceSpecify-[LanguageNumber]" />
                                <label for="languagesSpokenSourceSpecify-[LanguageNumber]" data-lsbq-tr="ldb.learnedWhereOtherLabel"><i>Please specify...</i></label>
                                <div class="invalid-feedback" data-lsbq-tr="ldb.learnedWhereOtherFeedback">Please give a brief indication of where you learned the language or dialect.</div>
                            </div>
                        </div>
                        <!-- field: languagesSpokenAge-[LanguageNumber] -->
                        <div class="col-2 form-floating">
                            <input type="number" class="form-control" id="languagesSpokenAge-[LanguageNumber]" name="languagesSpokenAge-[LanguageNumber]" min="0" max="100" />
                            <label for="languagesSpokenAge-[LanguageNumber]" class="col-form-label col-auto pt-2 ms-2" data-lsbq-tr="ldb.learnedAgeLabel">Learned from age</label>
                            <div class="invalid-feedback" data-lsbq-tr="ldb.learnedAgeFeedback">Please indicate how old you were (in years) when you started to learn this language.</div>
                        </div>
                        <!-- fields: languagesSpokenBreakYears-[LanguageNumber] and languagesSpokenBreakMonths-[LanguageNumber] -->
                        <div class="col-3">
                            <div class="row">
                                <div class="col-6 form-floating d-inline-block">
                                    <input type="number" class="form-control" id="languagesSpokenBreakYears-[LanguageNumber]" name="languagesSpokenBreakYears-[LanguageNumber]" min="0" max="100" value="0" />
                                    <label for="languagesSpokenBreakYears-[LanguageNumber]" class="col-form-label col-auto pt-2 ms-2" data-lsbq-tr="ldb.learnedBreaksYearsLabel">years</label>
                                    <div class="invalid-feedback" data-lsbq-tr="ldb.learnedBreaksYearsFeedback">Value must be between 0-100.</div>
                                </div>
                                <div class="col-6 form-floating d-inline-block">
                                    <input type="number" class="form-control" id="languagesSpokenBreakMonths-[LanguageNumber]" name="languagesSpokenBreakMonths-[LanguageNumber]" min="0" max="12" value="0" />
                                    <label for="languagesSpokenBreakMonths-[LanguageNumber]" class="col-form-label col-auto pt-2 ms-2" data-lsbq-tr="ldb.learnedBreaksMonthsLabel">months</label>
                                    <div class="invalid-feedback" data-lsbq-tr="ldb.learnedBreaksMonthsFeedback">Value must be between 0-12.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <div id="languagesSpokenSlot">
                    <!-- This will be automatically populated with the languagesSpokenTemplate items -->
                </div>
                <div class="row mt-1 mb-3 ms-1">
                    <!-- <div class="col">
                        <p class="help-block p-2 text-muted ms-5"><i class="bi-info-circle text-info"></i> Approximate area is sufficient.</p>
                    </div> -->
                    <div class="col-12 text-end">
                        <a class="btn btn-outline-secondary shadow-sm col-auto" onclick="insertLanguagesSpoken()"><i class="bi-plus-circle-dotted"></i> <span data-lsbq-tr="base.addLine">Add line</span></a>
                    </div>
                </div>
            </section>

            <!-- 11. Parental education -->
            <section class="m-4">
                <div class="row mb-1">
                    <div class="col-auto">
                        <p data-lsbq-tr="ldb.parentsInstructions">Please indicate the highest level of education, the occupation, and the languages or dialects spoken by each of your parents:</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <!-- Mother -->
                    <div class="col-md-6 mb-3">
                        <div class="row mb-1">
                            <div class="col-auto">
                                <p class="h6 d-inline-block" data-lsbq-tr="ldb.mother">Mother</p>
                                <p id="motherNotApplicableOption" class="text-muted small d-inline-block ps-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Please mark this box <i>only</i> if you cannot answer questions about your mother (e.g. because you don't know them).">
                                    (&thinsp;<input class="form-check-input align-text-top" type="checkbox" id="motherNotApplicable" name="motherNotApplicable"> <label class="form-check-label" for="motherNotApplicable" data-lsbq-tr="ldb.notApplicableFull">not applicable</label>&thinsp;)
                                </p>
                            </div>
                        </div>
                        <fieldset id="motherDetails">
                            <legend class="visually-hidden" data-lsbq-tr="ldb.mother">Mother</legend>
                            <!-- field: motherLevelOfEducation -->
                            <fieldset id="motherLevelOfEducation" class="row mb-2">
                                <legend for="motherLevelOfEducation" class="fs-6" data-lsbq-tr="ldb.levelOfEducation">Level of education:</legend>
                                <div class="col-auto ms-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="mother_education_level" id="motherLevelOfEducation1" value="1" required />
                                        <label class="form-check-label" for="motherLevelOfEducation1" data-lsbq-tr="base.levelOfEducation1">EQF Level 1</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="mother_education_level" id="motherLevelOfEducation2" value="2" required />
                                        <label class="form-check-label" for="motherLevelOfEducation2" data-lsbq-tr="base.levelOfEducation2">EQF Level 2-3</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="mother_education_level" id="motherLevelOfEducation3" value="3" required />
                                        <label class="form-check-label" for="motherLevelOfEducation3" data-lsbq-tr="base.levelOfEducation3">EQF Level 4</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="mother_education_level" id="motherLevelOfEducation4" value="4" required />
                                        <label class="form-check-label" for="motherLevelOfEducation4" data-lsbq-tr="base.levelOfEducation4">EQF Level 5-6</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="mother_education_level" id="motherLevelOfEducation5" value="5" required />
                                        <label class="form-check-label" for="motherLevelOfEducation5" data-lsbq-tr="base.levelOfEducation5">EQF Level 7-8</label>
                                        <div class="invalid-feedback invalid-radio" data-lsbq-tr="ldb.levelOfEducationFeedbackMother">Please indicate the highest level of education from the list that your <i>mother</i> has achieved (or the approximate equivalent).</div>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- field: motherOccupation -->
                            <div class="row mb-1">
                                <label for="motherOccupation" class="col-3 col-form-label" data-lsbq-tr="ldb.occupation">Occupation:</label>
                                <div class="col-auto">
                                    <input type="text" class="form-control" name="mother_occupation" id="motherOccupation" required />
                                    <div class="invalid-feedback" data-lsbq-tr="ldb.occupationFeedbackMother">Please name or briefly describe your mother's occupation, e.g. <i>Student, Hairdresser, Retail worker, …</i></div>
                                </div>
                            </div>
                            <!-- field: motherLanguage1 -->
                            <div class="row mb-1">
                                <label for="motherLanguage1" class="col-3 col-form-label" data-lsbq-tr="ldb.firstLanguage">First language:</label>
                                <div class="col-auto">
                                    <input list="languageListOptions" class="form-control" name="mother_first_language" id="motherLanguage1" required pattern="[\p{Letter}\p{Mark}][\p{Letter}\p{Mark}0-9\-_ \(\)]{2,50}" />
                                    <div class="invalid-feedback" data-lsbq-tr="ldb.languageNameFeedback">Please give the name of a language or dialect (between 3 and 50 characters).</div>
                                </div>
                            </div>
                            <!-- field: motherLanguage2 -->
                            <div class="row mb-1">
                                <label for="motherLanguage2" class="col-3 col-form-label" data-lsbq-tr="ldb.secondLanguage">Second language:</label>
                                <div class="col-auto">
                                    <input list="languageListOptions" class="form-control" name="mother_second_language" id="motherLanguage2" pattern="[\p{Letter}\p{Mark}][\p{Letter}\p{Mark}0-9\-_ \(\)]{2,50}" />
                                    <div class="invalid-feedback" data-lsbq-tr="ldb.languageNameFeedback">Please give the name of a language or dialect (between 3 and 50 characters).</div>
                                </div>
                            </div>
                            <!-- field: motherLanguageN -->
                            <div class="row mb-1">
                                <label for="motherLanguageN" class="col-3 col-form-label" data-lsbq-tr="ldb.otherLanguages">Other language(s):</label>
                                <div class="col-auto">
                                    <textarea class="form-control" name="mother_other_languages" id="motherLanguageN"></textarea>
                                    <small class="help-block text-muted"><i class="bi-info-circle text-info"></i> <span data-lsbq-tr="ldb.otherLanguagesInfo">List additional languages separated by commas.</span></small>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <script type="text/javascript">
                        var tt = new bootstrap.Tooltip(document.getElementById('motherNotApplicableOption'));
                        lart.forms.conditionalDisable('motherNotApplicable', 'motherDetails', 'on', 'equal');
                    </script>
                    <!-- Father -->
                    <div class="col-md-6 mb-3">
                        <div class="row mb-1">
                            <div class="col-auto">
                                <p class="h6 d-inline-block" data-lsbq-tr="ldb.father">Father</p>
                                <p id="fatherNotApplicableOption" class="text-muted small d-inline-block ps-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Please mark this box <i>only</i> if you cannot answer questions about your father (e.g. because you don't know them).">
                                    (&thinsp;<input class="form-check-input align-text-top" type="checkbox" id="fatherNotApplicable" name="fatherNotApplicable"> <label class="form-check-label" for="fatherNotApplicable" data-lsbq-tr="ldb.notApplicableFull">not applicable</label>&thinsp;)
                                </p>
                            </div>
                        </div>
                        <fieldset id="fatherDetails">
                            <legend class="visually-hidden" data-lsbq-tr="ldb.father">Father</legend>
                            <!-- field: fatherLevelOfEducation -->
                            <fieldset id="fatherLevelOfEducation" class="row mb-2">
                                <legend for="fatherLevelOfEducation" class="fs-6" data-lsbq-tr="ldb.levelOfEducation">Level of education:</legend>
                                <div class="col-auto ms-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="father_education_level" id="fatherLevelOfEducation1" value="1" required />
                                        <label class="form-check-label" for="fatherLevelOfEducation1" data-lsbq-tr="base.levelOfEducation1">EQF Level 1</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="father_education_level" id="fatherLevelOfEducation2" value="2" required />
                                        <label class="form-check-label" for="fatherLevelOfEducation2" data-lsbq-tr="base.levelOfEducation2">EQF Level 2-3</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="father_education_level" id="fatherLevelOfEducation3" value="3" required />
                                        <label class="form-check-label" for="fatherLevelOfEducation3" data-lsbq-tr="base.levelOfEducation3">EQF Level 4</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="father_education_level" id="fatherLevelOfEducation4" value="4" required />
                                        <label class="form-check-label" for="fatherLevelOfEducation4" data-lsbq-tr="base.levelOfEducation4">EQF Level 5-6</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="father_education_level" id="fatherLevelOfEducation5" value="5" required />
                                        <label class="form-check-label" for="fatherLevelOfEducation5" data-lsbq-tr="base.levelOfEducation5">EQF Level 7-8</label>
                                        <div class="invalid-feedback invalid-radio" data-lsbq-tr="ldb.levelOfEducationFeedbackFather">Please indicate the highest level of education from the list that your <i>father</i> has achieved (or the approximate equivalent).</div>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- field: fatherOccupation -->
                            <div class="row mb-1">
                                <label for="fatherOccupation" class="col-3 col-form-label" data-lsbq-tr="ldb.occupation">Occupation:</label>
                                <div class="col-auto">
                                    <input type="text" class="form-control" name="father_occupation" id="fatherOccupation" required />
                                    <div class="invalid-feedback" data-lsbq-tr="ldb.occupationFeedbackFather">Please name or briefly describe your father's occupation, e.g. <i>Student, Hairdresser, Retail worker, …</i></div>
                                </div>
                            </div>
                            <!-- field: fatherLanguage1 -->
                            <div class="row mb-1">
                                <label for="fatherLanguage1" class="col-3 col-form-label" data-lsbq-tr="ldb.firstLanguage">First language:</label>
                                <div class="col-auto">
                                    <input list="languageListOptions" class="form-control" name="father_first_language" id="fatherLanguage1" required pattern="[\p{Letter}\p{Mark}][\p{Letter}\p{Mark}0-9\-_ \(\)]{2,50}" />
                                    <div class="invalid-feedback" data-lsbq-tr="ldb.languageNameFeedback">Please give the name of a language or dialect (between 3 and 50 characters).</div>
                                </div>
                            </div>
                            <!-- field: fatherLanguage2 -->
                            <div class="row mb-1">
                                <label for="fatherLanguage2" class="col-3 col-form-label" data-lsbq-tr="ldb.secondLanguage">Second language:</label>
                                <div class="col-auto">
                                    <input list="languageListOptions" class="form-control" name="father_second_language" id="fatherLanguage2" pattern="[\p{Letter}\p{Mark}][\p{Letter}\p{Mark}0-9\-_ \(\)]{2,50}" />
                                    <div class="invalid-feedback" data-lsbq-tr="ldb.languageNameFeedback">Please give the name of a language or dialect (between 3 and 50 characters).</div>
                                </div>
                            </div>
                            <!-- field: fatherLanguageN -->
                            <div class="row mb-1">
                                <label for="fatherLanguageN" class="col-3 col-form-label" data-lsbq-tr="ldb.otherLanguages">Other language(s):</label>
                                <div class="col-auto">
                                    <textarea class="form-control" name="father_other_languages" id="fatherLanguageN"></textarea>
                                    <small class="help-block text-muted"><i class="bi-info-circle text-info"></i> <span data-lsbq-tr="ldb.otherLanguagesInfo">List additional languages separated by commas.</span></small>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <script type="text/javascript">
                        var tt = new bootstrap.Tooltip(document.getElementById('fatherNotApplicableOption'));
                        lart.forms.conditionalDisable('fatherNotApplicable', 'fatherDetails', 'on', 'equal');
                    </script>
                </div>
            </section>

            <!-- 12. Language proficiency and usage information -->
            <section class="m-4">
                <template id="languageRatingTemplate">
                    <div id="languageRatingInstance-[LanguageNumber]" class="mb-5">
                        <div class="row mb-1">
                            <div class="col-auto">
                                <p class="h6"><span data-lsbq-tr="ldb.aboutLanguageX">About <!-- ...[LanguageX] --></span> <span class="fst-italic languageNameSlot" data-lsbq-tr="ldb.aboutLanguageXFormat">[LanguageName]</span></p>
                            </div>
                        </div>
                        <!-- Proficiency -->
                        <div class="row mb-1">
                            <div class="col-auto">
                                <p>
                                    <span data-lsbq-tr="ldb.aboutLanguageXInstr1">Relative to the performance of a highly proficient speaker of <!-- ... [LanguageX], --></span> <span class="languageNameSlot" data-lsbq-tr="ldb.aboutLanguageXInstr1Format">[LanguageName]</span>,
                                    <span data-lsbq-tr="ldb.aboutLanguageXInstr2">rate your proficiency level for the following activities conducted in <!-- ... [LanguageX]. --></span> <span class="languageNameSlot" data-lsbq-tr="ldb.aboutLanguageXInstr2Format">[LanguageName]</span>.
                                </p>
                            </div>
                        </div>
                        <div class="row mb-0">
                            <div class="col-2"></div>
                            <div class="col-5 text-start" data-lsbq-tr="ldb.noProficiency">
                                No Proficiency
                            </div>
                            <div class="col-5 text-end" data-lsbq-tr="ldb.highProficiency">
                                High Proficiency
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="proficiencySpeakingLanguage-[LanguageNumber]" class="col-2 col-form-label" data-lsbq-tr="ldb.speaking">Speaking</label>
                            <div class="col-10 mt-2">
                                <input type="range" class="form-range d-block" min="0" max="100" step="any" id="proficiencySpeakingLanguage-[LanguageNumber]" required />
                                <div class="invalid-feedback invalid-range" data-lsbq-tr="base.sliderFeedback">Please move the slider at least once.</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="proficiencyUnderstandingLanguage-[LanguageNumber]" class="col-2 col-form-label" data-lsbq-tr="ldb.understanding">Understanding</label>
                            <div class="col-10 mt-2">
                                <input type="range" class="form-range" min="0" max="100" step="any" id="proficiencyUnderstandingLanguage-[LanguageNumber]" required />
                                <div class="invalid-feedback invalid-range" data-lsbq-tr="base.sliderFeedback">Please move the slider at least once.</div>
                            </div>
                        </div>
                        <!-- Usage -->
                        <div class="row mb-1">
                            <div class="col-auto">
                                <p>
                                    <span data-lsbq-tr="ldb.timeOfActivity">Of the time you spend engaged in each of the following activities,
                                    how much of that time is carried out in <!-- ...[LanguageX]? --></span> <span class="languageNameSlot" data-lsbq-tr="ldb.timeOfActivityFormat">[LanguageName]</span>?
                                </p>
                            </div>
                        </div>
                        <div class="row mb-0">
                            <div class="col-2"></div>
                            <div class="col-5 text-start" data-lsbq-tr="ldb.noneOfTheTime">
                                None of the time
                            </div>
                            <div class="col-5 text-end" data-lsbq-tr="ldb.allOfTheTime">
                                All of the time
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="usageSpeakingLanguage-[LanguageNumber]" class="col-2 col-form-label" data-lsbq-tr="ldb.speaking">Speaking</label>
                            <div class="col-10 mt-2">
                                <input type="range" class="form-range" min="0" max="100" step="any" id="usageSpeakingLanguage-[LanguageNumber]" required />
                                <div class="invalid-feedback invalid-range" data-lsbq-tr="base.sliderFeedback">Please move the slider at least once.</div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="usageListeningLanguage-[LanguageNumber]" class="col-2 col-form-label" data-lsbq-tr="ldb.listening">Listening</label>
                            <div class="col-10 mt-2">
                                <input type="range" class="form-range" min="0" max="100" step="any" id="usageListeningLanguage-[LanguageNumber]" required />
                                <div class="invalid-feedback invalid-range" data-lsbq-tr="base.sliderFeedback">Please move the slider at least once.</div>
                            </div>
                        </div>
                        <div class="row mb-1 readingOption">
                            <label for="usageListeningLanguage-[LanguageNumber]" class="col-2 col-form-label" data-lsbq-tr="ldb.reading">Reading</label>
                            <div class="col-10 mt-2">
                                <input type="range" class="form-range" min="0" max="100" step="any" id="usageListeningLanguage-[LanguageNumber]" required />
                                <div class="invalid-feedback invalid-range" data-lsbq-tr="base.sliderFeedback">Please move the slider at least once.</div>
                            </div>
                        </div>
                        <div class="row mb-1 writingOption">
                            <label for="usageListeningLanguage-[LanguageNumber]" class="col-2 col-form-label" data-lsbq-tr="ldb.writing">Writing</label>
                            <div class="col-10 mt-2">
                                <input type="range" class="form-range" min="0" max="100" step="any" id="usageListeningLanguage-[LanguageNumber]" required />
                                <div class="invalid-feedback invalid-range" data-lsbq-tr="base.sliderFeedback">Please move the slider at least once.</div>
                            </div>
                        </div>
                        <div class="row mb-2"></div>
                    </div>
                </template>
                <div id="languageRatingSlot">
                    <!-- Placeholder dynamically filled with copies of languageProficiencyTemplate -->
                </div>
                <script>
                    lart.forms.monitorRangeInputs('languageRatingSlot');
                </script>
            </section>

            <!-- Form submission -->
            <div class="row text-end p-3 m-4">
                <div clas="col">
                    <button type="submit" class="btn btn-primary btn-lg btn-action shadow" data-lsbq-tr="base.next">Next</button>
                </div>
            </div>

        </form>

        <!-- Repeated language entry modal -->
        <div class="modal fade" id="repeatedLanguageModal" tabindex="-1" aria-labelledby="repeatedLanguageModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="repeatedLanguageModal">
                    <i class="bi bi-exclamation-square text-warning"></i>
                    <span data-lsbq-tr="ldb.repeatedLanguageErrorTitle">Repeated language</span>
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p data-lsbq-tr="ldb.repeatedLanguageErrorMessage" data-mgt-feedback="invalid">
                        It seems you have already added “<span class="languageNameSlot">[languageName]</span>” to this list.
                    </p>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" data-mgt-tr="base.ok">OK</button>
                </div>
              </div>
            </div>
        </div>

    </article>
{% endblock %}
{% block tail_scripts %}
    <script type="text/javascript">
        /**
         * Localize a language name to fit the grammar of various languages.
         * 
         * The language is directly extracted from the version loaded for interface-translation.
         * Languages currently handled are:
         *  - Italian (Ita): Lowercase language name, optionally add definite article, can determine
         *                   definite article and guess gender based on word shape.
         *  - German (Deu): No case change, optionally add definite article, assuming neuter case by
         *                  default (since languages in German are all neuter as far as I know).
         *  - English (Eng): No case change, optionally add definite article.
         *  - Welsh (Cym): No case change, shape of definite article automatically determined, optionally
         *                  apply soft mutation (if `gender='f' specified`).
         * 
         * *NB:* The function currently does not handle plurals.
         * 
         * @param {String} string - The language name which should be localised.
         * @param {String|null} gender - The gender of the string (literal 'm' for masc., 'f' for fem.,
         *      'n' for neuter), if known. If not known or not relevant, the function will try to determine
         *      this from the string shape (~ the word's morphophonology).
         * @param {String|null} article - What article, if any, to add. 'def' for definite, 'indef' for
         *      indefinite (not currently implemented!), `null` for no article.
         */
        function localizeLanguageName(string, gender=null, article=null) {
            // @TODO: add plural if ever needed?
            const primaryLanguage = lart.utils.extractLanguageFromVersion(lart.tr.get('lsbq', 'meta.versionId'));
            if ( article == 'def' ) {
                let article = "";
                if ( primaryLanguage.toLowerCase() == "ita" ) {
                    string = string.toLowerCase();
                    if ( gender != "m" && gender != "f" ) {
                        // Very crude attempt to figure out the gender...
                        if (
                            string[string.length -1] == "o" ||
                            string[string.length -2] == "ma" ||
                            string[string.length -2] == "re"
                            ) {
                            gender = "m";
                        } else if (
                            string[string.length -1] == "a" ||
                            string[string.length -2] == "tà" ||
                            string[string.length -2] == "tù" ||
                            string[string.length -4] == "ione"
                            ) {
                            gender = "f";
                        } else {
                            gender = "m";
                        }
                    }
                    if (["a", "e", "i", "o", "u"].includes(string[0].normalize("NFD").replace(/[\u0300-\u036f]/g, ""))) {
                        article = "l'"; // same for masc and fem
                        // return `l'${string}`; // same for masc and fem
                    } else if ( gender == "m" ) {
                        if ( string[0] == "s" && !["a", "e", "i", "o", "u"].includes(string[1].normalize("NFD").replace(/[\u0300-\u036f]/g, "")) ) {
                            article = "lo ";
                            // return `lo ${string}`;
                        } else {
                            article = "il ";
                            // return `il ${string}`;
                        }
                    } else if ( gender == "f" ) {
                        article = "la ";
                        // return `la ${string}`;
                    }
                } else if ( primaryLanguage.toLowerCase() == "deu" ) {
                    if ( gender == "f" ) {
                        article = "die ";
                    } else if ( gender == "m" ) {
                        article = "der ";
                    } else {
                        // Use neuter as fallback, since all bare language names are neuter in German
                        article = "das ";
                    }
                } else if ( primaryLanguage.toLowerCase() == "eng" ) {
                    article = "the ";
                } else if ( primaryLanguage.toLowerCase() == "cym" ) {
                    // Apply soft mutation on feminine gender targets
                    if ( gender == 'f' ) {
                        const soft_mut_map = {
                            'p': 'b',
                            't': 'd',
                            'c': 'g',
                            'b': 'f',
                            'd': 'dd',
                            'g': '',
                            'm': 'f',
                            'll': 'l',
                            'rh': 'r'
                        };
                        for (const in_cons in soft_mut_map) {
                            const in_len = in_cons.length;
                            const in_Cons = in_cons.charAt(0).toUpperCase() + in_cons.slice(1);
                            if ( string.substr(0, in_len) == in_cons ) {
                                string = in_cons + string.slice(in_len);
                            } else if ( string.substr(0, in_len) == in_Cons ) {
                                string = in_Cons + string.slice(in_len);
                            }
                        }
                    }
                    if (["a", "e", "i", "o", "u", "w", "y", "A", "E", "I", "O", "U", "W", "Y"].includes(string[0].normalize("NFD").replace(/[\u0300-\u036f]/g, ""))) {
                        article = "yr ";
                    } else {
                        article = "y ";
                    }
                }
                if ( article ) {
                    string = `${article}${string}`;
                }
            }
            return string;
        }

        // Require form validation
        lart.forms.requireValidation(true);

        // Translate form for specific version
        let instanceId = lart.forms.searchParams.get('instance');
        lart.tr.loadFromEel('lsbq', eel._lsbq_load_version, [instanceId, ['meta', 'base', 'ldb']]);
        lart.tr.registerObserver('lsbq', 'surveyLDBForm');
        lart.tr.registerObserver('lsbq', 'lsbqSectionTitle');
        lart.tr.registerObserver('lsbq', 'lsbqAppTitle');
        lart.tr.registerObserver('lsbq', 'repeatedLanguageModal');
        lart.tr.translateAttrs(
            'lsbq',
            {
                'motherNotApplicableOption': ['data-bs-original-title', 'ldb.motherNotApplicableInfo'],  // NB: title attribute is removed by bootstrap tooltip
                'fatherNotApplicableOption': ['data-bs-original-title', 'ldb.fatherNotApplicableInfo']   // NB: title attribute is removed by bootstrap tooltip
            }
        )

        // Fill in the language list options once available from lart.tr
        function fillLanguageListOptions() {
            if ('lsbq' in lart.tr.strings && 'meta' in lart.tr.strings['lsbq']) {
                const langListData = lart.tr.get('lsbq', 'ldb.languageListOptions');
                if (langListData) {
                    const langListElement = document.getElementById('languageListOptions');
                    langListElement.innerHTML = '';
                    // langListElement.appendChild(document.createElement("option")); // Have an empty one first
                    for (const language of langListData) {
                        const optionElement = document.createElement('option');
                        optionElement.setAttribute('value', language);
                        langListElement.appendChild(optionElement);
                    }
                }
                return;
            }
            //setTimeout(fillLanguageListOptions, 250);
        }
        //fillLanguageListOptions();
        lart.tr.registerCallback("lsbq", fillLanguageListOptions);

        // Sync language use ratings
        function insertLanguageRating(languageNumber) {
            const template = document.getElementById('languageRatingTemplate');
            const slot = document.getElementById('languageRatingSlot');
            const clone = template.content.cloneNode(true);
            // Replaces [LanguageNumber] in 'id', 'for', and 'name' attrs
            function numberReplacer(node) {
                if (node instanceof HTMLElement) {
                    if (node.hasAttribute('id')) node.setAttribute('id', node.getAttribute('id').replace('[LanguageNumber]', languageNumber));
                    if (node.hasAttribute('for')) node.setAttribute('for', node.getAttribute('for').replace('[LanguageNumber]', languageNumber));
                    if (node.hasAttribute('name')) node.setAttribute('name', node.getAttribute('name').replace('[LanguageNumber]', languageNumber));
                }
                if ( node.hasChildNodes() ) {
                    for (const child of node.childNodes) {
                        numberReplacer(child);
                    }
                }
            }
            numberReplacer(clone);
            // Keep languageNameSlot (default value [LanguageName]) synched
            const nameSource = document.getElementById(`languagesSpokenLanguage-${languageNumber}`);
            const languageNameSlots = clone.querySelectorAll('.languageNameSlot');
            for (const languageNameSlot of languageNameSlots) {
                nameSource.addEventListener(
                    'input',
                    function (event) {
                        // languageNameSlot items must keep track of localisation options
                        let article_param = null;
                        let gender_param = null;
                        let case_param = null;
                        if ( 'lsbqTrOrigin' in languageNameSlot.dataset ) {
                            const lg_field_props = lart.tr.get('lsbq', languageNameSlot.dataset.lsbqTrOrigin).trim().slice(1, -1).split(":");
                            console.log('Language name slot format:', lg_field_props);
                            if ( lg_field_props.includes('def') ) {
                                article_param = 'def';
                            } else if ( lg_field_props.includes('indef') ) {
                                article_param = 'indef';
                            }
                            if ( lg_field_props.includes('fem') ) {
                                gender_param = 'f';
                            } else if ( lg_field_props.includes('masc') ) {
                                gender_param = 'm';
                            } else if ( lg_field_props.includes('neut') ) {
                                gender_param = 'n';
                            }
                            if ( lg_field_props.includes('upper') ) {
                                case_param = 'upper';
                            } else if ( lg_field_props.includes('lower') ) {
                                case_param = 'lower';
                            }
                        }
                        let localizedName = localizeLanguageName(event.target.value, gender=gender_param, article=article_param);
                        if ( case_param == 'upper' ) {
                            localizedName = localizedName.charAt(0).toUpperCase() + localizedName.slice(1);
                        }
                        if ( case_param == 'lower' ) {
                            console.log('Lowering name from ', localizedName, 'to', localizedName.charAt(0).toLowerCase() + localizedName.slice(1));
                            localizedName = localizedName.charAt(0).toLowerCase() + localizedName.slice(1);
                        }
                        languageNameSlot.textContent = localizedName;
                    }
                );
            }
            // Make input required dependent on languageName presence
            const inputs = clone.querySelectorAll('input');
            for (const input of inputs) {
                input.required = false;
                nameSource.addEventListener(
                    'input',
                    function (event) {
                        input.required = !!event.target.value;
                    }
                );
            }
            // Toggle visibility dependent on languageName presence
            const wrapperElement = clone.firstElementChild;
            wrapperElement.hidden = true;
            nameSource.addEventListener(
                'input',
                function (event) {
                    wrapperElement.hidden = !event.target.value;
                }
            );
            // Append to slot
            slot.appendChild(clone);
        }
        // Insert languagesSpoken items
        let languagesSpokenCounter = 0;
        function insertLanguagesSpoken(required = false) {
            const languageNumber = languagesSpokenCounter++;
            console.log(`Inserting languageNumber`, languageNumber);
            const template = document.getElementById('languagesSpokenTemplate');
            const slot = document.getElementById('languagesSpokenSlot');
            const clone = template.content.cloneNode(true);
            // Replaces [LanguageNumber] in 'id', 'for', and 'name' attrs
            function numberReplacer(node) {
                if (node instanceof HTMLElement) {
                    if (node.hasAttribute('id')) node.setAttribute('id', node.getAttribute('id').replace('[LanguageNumber]', languageNumber));
                    if (node.hasAttribute('for')) node.setAttribute('for', node.getAttribute('for').replace('[LanguageNumber]', languageNumber));
                    if (node.hasAttribute('name')) node.setAttribute('name', node.getAttribute('name').replace('[LanguageNumber]', languageNumber));
                }
                if ( node.hasChildNodes() ) {
                    for (const child of node.childNodes) {
                        numberReplacer(child);
                    }
                }
            }
            numberReplacer(clone);
            // Append to slot
            slot.appendChild(clone);
            // Require the other fields if they enter a language name
            lart.forms.conditionalRequire(`languagesSpokenLanguage-${languageNumber}`, `languagesSpokenSource-${languageNumber}`, '', 'not-equal');
            lart.forms.conditionalRequire(`languagesSpokenLanguage-${languageNumber}`, `languagesSpokenAge-${languageNumber}`, '', 'not-equal');
            lart.forms.conditionalRequire(`languagesSpokenLanguage-${languageNumber}`, `languagesSpokenBreakYears-${languageNumber}`, '', 'not-equal');
            lart.forms.conditionalRequire(`languagesSpokenLanguage-${languageNumber}`, `languagesSpokenBreakMonths-${languageNumber}`, '', 'not-equal');
            // Require the "specify" field if they select "other" on source
            lart.forms.conditionalRequire(`languagesSpokenSource-${languageNumber}`, `languagesSpokenSourceSpecify-${languageNumber}`, 'o');
            lart.forms.conditionalDisplay(`languagesSpokenSource-${languageNumber}`, `languagesSpokenSourceSpecifyBlock-${languageNumber}`, 'o');
            // Insert corresponding language rating slider
            insertLanguageRating(languageNumber);
            // Make delete option functional for all but required languages
            const deleteButton = document.getElementById(`languagesSpokenDelete-${languageNumber}`);
            if ( required ) {
                deleteButton.remove();
                document.getElementById(`languagesSpokenLanguage-${languageNumber}`).required = true;
                document.getElementById(`languagesSpokenAge-${languageNumber}`).value = 0;
            } else {
                deleteButton.addEventListener(
                    'click',
                    function () {
                        document.getElementById(`languageRatingInstance-${languageNumber}`).remove();
                        document.getElementById(`languagesSpoken-${languageNumber}`).remove();
                    }
                );
            }
            // Give UI hint when languages repeated...
            lart.forms.getElementByGreed(`languagesSpokenLanguage-${languageNumber}`).addEventListener(
                'change',
                function (e) {
                    const languageNameField = lart.forms.getElementByGreed(`languagesSpokenLanguage-${languageNumber}`);
                    const languageName = languageNameField.value;
                    const otherLanguages = new Set();
                    const languagesSpokenFields = document.querySelectorAll('[id^="languagesSpokenLanguage-"]');
                    for (const languagesSpokenField of languagesSpokenFields) {
                        if (languagesSpokenField.id == `languagesSpokenLanguage-${languageNumber}` || languagesSpokenField.value == '' ) {
                            continue;
                        } else {
                            otherLanguages.add(languagesSpokenField.value);
                        }
                    }
                    if (otherLanguages.has(languageName)) {
                        const repeatedLanguageModal = document.getElementById('repeatedLanguageModal');
                        repeatedLanguageModal.querySelector('.languageNameSlot').innerHTML = languageName;
                        const modalHandler = new bootstrap.Modal(repeatedLanguageModal);
                        modalHandler.show();
                        languageNameField.value = '';
                    }
                }
            );
            // Make the multiselect into a select2...
            function transformMultiselectToSelect2(placeholder = null) {
                // Get translated placeholder (if needed)
                if ( placeholder === null ) {
                    placeholder = lart.tr.get("lsbq", "ldb.learnedWhereLabel");
                }
                if ( placeholder === null ) {
                    placeholder = "Learned where"; // Default if no translation found
                }
                // Activate select2
                $(`#languagesSpokenSource-${languageNumber}`).select2({
                    placeholder:placeholder,
                    closeOnSelect:false,
                    theme:"bootstrap-5",
                    selectionCssClass:"select2--small",
                    dropdownCssClass: "select2--small",
                    minimumResultsForSearch: Infinity
                });
                // Make select2's changes to <select> trigger input event..
                $(`#languagesSpokenSource-${languageNumber}`).on('change', (e) => {
                    const inputEvent = new Event('input', {
                        bubbles: true,
                        cancelable: true,
                    });
                    const selectControl = document.getElementById(`languagesSpokenSource-${languageNumber}`);
                    selectControl.dispatchEvent(inputEvent);
                });
            }
            // Update multiselect/select2 once placeholder translation is available...
            transformMultiselectToSelect2();
        }

        // Implement configuration options for LSB
        function configureLDB() {
            console.log("configureLDB called");
            const options = lart.tr.get("lsbq", "meta.options");
            // ldb_show_reading - default: true
            // ldb_show_writing - default: true
            if ('ldb_show_reading' in options && options.ldb_show_reading == false) {
                const nodesToRemove = document.querySelectorAll('.readingOption');
                for (const nodeToRemove of nodesToRemove) {
                    nodeToRemove.remove();
                }
            }
            if ('ldb_show_writing' in options && options.ldb_show_writing == false) {
                const nodesToRemove = document.querySelectorAll('.writingOption');
                for (const nodeToRemove of nodesToRemove) {
                    nodeToRemove.remove();
                }
            }
            // ldb_minimum_required_languages - default: 1
            insertLanguagesSpoken(true); // Insert at least one slot for languagesSpoken
            if ('ldb_minimum_required_languages' in options && options.ldb_minimum_required_languages > 1) {
                for (let i = 1; i < options.ldb_minimum_required_languages; i++) {
                    insertLanguagesSpoken(true);
                }
            }
            // NOTE: ldb_minimum_required_languages is implemented separately after insertSpokenLanguages(); 
        }
        lart.tr.registerCallback("lsbq", configureLDB);
        
    </script>
    {{ lart_form_pipeline('surveyLDBForm', '_lsbq_setldb') }}
{% endblock %}