{%- from 'lart_macros.html' import lart_form_pipeline %}
{%- extends 'base.html' %}
{% block title %}L’ART Research Client - LSBQₑ - Language and Social Background{% endblock %}
{% block headline %}<span id="lsbqAppTitle" data-lsbq-tr="base.appTitle">Language and Social Background Questionnaire</span>{% endblock %}
{% block head_scripts %}{% endblock %}
{% block head_styles %}{% endblock %}
{% block drawer_info %}{% endblock %}
{% block drawer_nav_options %}
    <li class="nav-item">
        <a class="nav-link" onClick="discard_attempt()"><i class="bi bi-x-circle"></i>  Discard attempt</a>
    </li>
    <li><hr class="nav-divider"></li>
{% endblock %}
{% block content %}
    <article class="container-fluid p-2">

        <div class="row m-4">
            <div class="col">
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width:5%"></div>
                </div>
            </div>
        </div>

        <div class="row m-4 text-center">
            <div class="col">
                <h2 id="lsbqSectionTitle" data-lsbq-tr="lsb.secTitle">Language and Social Background</h2>
            </div>
        </div>

        <form id="surveyLSBForm" class="needs-validation" autocomplete="off">

            <!-- 1. Sex -->
            <section class="m-4">
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-auto pt-0" data-lsbq-tr="lsb.sex">Sex:</legend>
                    <div class="col-sm">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="sexFemale" value="F" required />
                            <label class="form-check-label" for="sexFemale" data-lsbq-tr="lsb.female">Female</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="sexMale" value="M" required />
                            <label class="form-check-label" for="sexMale" data-lsbq-tr="lsb.male">Male</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="sexOther" value="O" required />
                            <label class="form-check-label align-text-top" for="sexOther" data-lsbq-tr="lsb.other">Other</label>
                            <div id="sexOtherSpecifyCollapse" class="d-inline-block align-text-top collapse">
                                <input name="sex_other" id="sexOtherSpecify" class="form-control form-control-sm d-inline w-25" style="min-width:10rem" type="text" aria-label="Specify sex, if other." />
                                <div class="invalid-feedback" data-lsbq-tr="lsb.otherFeedback">Please briefly specify what other sex you identify with.</div>
                            </div>
                            <div class="invalid-feedback invalid-radio" data-lsbq-tr="lsb.sexFeedback">Please select an option for <i>Sex</i>.</div>
                            <script type="text/javascript">
                                lart.forms.conditionalRequire('sex', 'sex_other', 'O');
                                lart.forms.conditionalDisplay('sex', 'sexOtherSpecify', 'O');
                            </script>
                        </div>
                    </div>
                </fieldset>
            </section>

            <!-- 2. Occupation -->
            <section class="m-4">
                <div class="row mb-3">
                    <label for="occupation" class="col-form-label col-auto" data-lsbq-tr="lsb.occupation">Occupation:</label>
                    <div class="col-sm">
                    <input type="text" class="form-control" id="occupation" required />
                    <div class="invalid-feedback" data-lsbq-tr="lsb.occupationFeedback">Please name or briefly describe your occupation, e.g. <i>Student</i>, <i>Hairdresser</i>, <i>Retail worker</i>, &mldr;</div>
                    </div>
                </div>
            </section>

            <!-- 3. Handedness -->
            <section class="m-4">
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-auto pt-0" data-lsbq-tr="lsb.handedness">Handedness:</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="handedness" id="handednessLeft" value="L" required />
                            <label class="form-check-label" for="handednessLeft" data-lsbq-tr="lsb.left">Left</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="handedness" id="handednessRight" value="R" required />
                            <label class="form-check-label" for="handednessRight" data-lsbq-tr="lsb.right">Right</label>
                            <div class="invalid-feedback invalid-radio" data-lsbq-tr="lsb.handednessFeedback">Please indicate whether you are <i>left-</i> or <i>righthanded</i>.</div>
                        </div>
                    </div>
                </fieldset>
            </section>

            <!-- 4. Date of birth -->
            <section class="m-4">
                <div class="row mb-3">
                    <label for="dateOfBirth" class="col-form-label col-sm-auto" data-lsbq-tr="lsb.dateOfBirth">Date of birth:</label>
                    <div class="col-sm-auto">
                        <input type="date" class="form-control" name="date_of_birth" id="dateOfBirth" min="1922-01-01" required />
                        <script type="text/javascript">
                            booteel.DOM.setAttribute('dateOfBirth', 'max', booteel.today.iso.YEAR_MONTH_DAY);
                        </script>
                        <div class="invalid-feedback" data-lsbq-tr="lsb.dateOfBirthFeedback">Please give your <i>date of birth</i> (must be in the past).</div>
                    </div>
                </div>
            </section>

            <!-- 5. Hearing problems -->
            <section class="m-4">
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-auto pt-0" data-lsbq-tr="lsb.impairedHearing">Do you have impaired hearing?</legend>
                    <div class="col-sm-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="hearing_impairment" id="hearingProblemYes" value="yes" required />
                            <label class="form-check-label" for="hearingProblemYes" data-lsbq-tr="base.yes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="hearing_impairment" id="hearingProblemNo" value="no" required />
                            <label class="form-check-label" for="hearingProblemNo" data-lsbq-tr="base.no">No</label>
                        <div class="invalid-feedback invalid-radio" data-lsbq-tr="lsb.impairedHearingFeedback">Please indicate whether you have any difficulties with your hearing.</div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="row mb-3 ms-5" id="hearingAid">
                    <legend class="col-form-label col-sm-auto pt-0" data-lsbq-tr="lsb.hearingAid">If <strong>yes</strong>, do you wear a hearing aid?</legend>
                    <div class="col-sm-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="hearing_aid" id="hearingAidYes" value="yes" />
                            <label class="form-check-label" for="hearingYes" data-lsbq-tr="base.yes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="hearing_aid" id="hearingAidNo" value="no" />
                            <label class="form-check-label" for="hearingAidNo" data-lsbq-tr="base.no">No</label>
                            <div class="invalid-feedback invalid-radio" data-lsbq-tr="lsb.hearingAidFeedback">Please indicate whether you use a hearing aid or not.</div>
                        </div>
                    </div>
                </fieldset>
                <script type="text/javascript">
                    lart.forms.conditionalRequire('hearing_impairment', 'hearing_aid', 'yes');
                    lart.forms.conditionalDisplay('hearing_impairment', 'hearingAid', 'yes');
                </script>
            </section>

            <!-- 6. Vision problems -->
            <section class="m-4">
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-auto pt-0" data-lsbq-tr="lsb.visionImpairment">Do you have impaired vision?</legend>
                    <div class="col-sm-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="vision_impairment" id="visionProblemYes" value="yes" required />
                            <label class="form-check-label" for="visionProblemYes" data-lsbq-tr="base.yes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="vision_impairment" id="visionProblemNo" value="no" required />
                            <label class="form-check-label" for="visionProblemNo" data-lsbq-tr="base.no">No</label>
                            <div class="invalid-feedback invalid-radio" data-lsbq-tr="lsb.visionImpairmentFeedback">Please indicate whether you have a vision impairment or not.</div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="row mb-3 ms-5" id="visionGlasses">
                    <legend class="col-form-label col-sm-auto pt-0" data-lsbq-tr="lsb.visionAid">If <strong>yes</strong>, do you wear glasses/contacts?</legend>
                    <div class="col-sm-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="vision_aid" id="visionGlassesYes" value="yes" />
                            <label class="form-check-label" for="visionGlassesYes" data-lsbq-tr="base.yes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="vision_aid" id="visionGlassesNo" value="no" />
                            <label class="form-check-label" for="visionGlassesNo" data-lsbq-tr="base.no">No</label>
                            <div class="invalid-feedback invalid-radio" data-lsbq-tr="lsb.visionAidFeedback">Please indicate whether you use a vision aid such as glasses or contact lenses.</div>
                        </div>
                    </div>
                </fieldset>
                <script type="text/javascript">
                    lart.forms.conditionalRequire('vision_impairment', 'vision_aid', 'yes');
                    lart.forms.conditionalDisplay('vision_impairment', 'visionGlasses', 'yes');
                </script>
                <fieldset class="row mb-3 ms-5" id="visionCorrected">
                    <legend class="col-form-label col-sm-auto pt-0" data-lsbq-tr="lsb.visionCorrected">Do they correct your vision to normal?</legend>
                    <div class="col-sm-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="vision_fully_corrected" id="visionCorrectedYes" value="yes" />
                            <label class="form-check-label" for="visionGlassesYes" data-lsbq-tr="base.yes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="vision_fully_corrected" id="visionCorrectedNo" value="no" />
                            <label class="form-check-label" for="visionCorrectedNo" data-lsbq-tr="base.no">No</label>
                            <div class="invalid-feedback invalid-radio" data-lsbq-tr="lsb.visionCorrectedFeedback">Please indicate whether, using your vision aid, your vision is fully corrected to normal.</div>
                        </div>
                    </div>
                </fieldset>
                <script type="text/javascript">
                    lart.forms.conditionalRequire('vision_aid', 'vision_fully_corrected', 'yes');
                    lart.forms.conditionalDisplay('vision_aid', 'visionCorrected', 'yes');
                </script>
            </section>

            <!-- 7. Place of birth -->
            <section class="m-4">
                <div class="row mb-3">
                    <label for="placeOfBirth" class="col-form-label col-auto" data-lsbq-tr="lsb.placeOfBirth">Place of birth:</label>
                    <div class="col-sm">
                    <input type="text" class="form-control" name="place_of_birth" id="placeOfBirth" required />
                    <div class="invalid-feedback" data-lsbq-tr="lsb.placeOfBirthFeedback">Please give your (approximate) <i>place of birth</i>, e.g. <i>Madrid, Spain</i>.</div>
                    <p class="help-block p-2 text-muted"><i class="bi-info-circle text-info"></i> <span data-lsbq-tr="lsb.approximateAreaSufficient">Approximate area is sufficient.</span></p>
                    </div>
                </div>
            </section>

            <!-- 8. Where else have you lived -->
            <section class="m-4">
                <div class="row mb-1">
                    <p class="col-form-label col-auto" data-lsbq-tr="lsb.otherPlaces">Where else have you lived for any significant period of time (&gt; 6 months)?</p>
                </div>
                <template id="otherPlacesTemplate">
                    <div class="row mb-1" id="otherPlaces-[PlaceNumber]">
                        <div class="col-1 d-flex align-items-center justify-content-end pe-1">
                            <a class="btn btn-outline-secondary opacity-75" id="otherPlacesDelete-[PlaceNumber]"><i class="bi bi-trash"></i></a>
                        </div>
                        <div class="col form-floating">
                            <input type="text" class="form-control" id="otherPlacesName-[PlaceNumber]" name="otherPlacesName-[PlaceNumber]" />
                            <label for="otherPlacesName-[PlaceNumber]" data-lsbq-tr="lsb.placeName">Place name</label>
                        </div>
                        <div class="col form-floating">
                            <input type="month" class="form-control" id="otherPlacesFrom-[PlaceNumber]" name="otherPlacesFrom-[PlaceNumber]" pattern="[0-9]{1,4}-(0?[1-9]|1[0-2])" />
                            <label for="otherPlacesFrom-0" data-lsbq-tr="lsb.from">From</label>
                        </div>
                        <div class="col form-floating">
                            <input type="month" class="form-control" id="otherPlacesTo-[PlaceNumber]" name="otherPlacesTo-[PlaceNumber]" pattern="[0-9]{1,4}-(0?[1-9]|1[0-2])" />
                            <label for="otherPlacesTo-0" data-lsbq-tr="lsb.until">Until</label>
                        </div>
                    </div>
                </template>
                <div id="otherPlacesSlot">
                    <!-- Placeholder dynamically filled with copies of otherPlacesTemplate -->
                </div>
                <div class="row mt-1 mb-3 ms-1">
                    <div class="col-1"></div>
                    <div class="col ps-1">
                        <p class="help-block p-2 text-muted ps-0"><i class="bi-info-circle text-info"></i> <span data-lsbq-tr="lsb.approximateAreaSufficient">Approximate area is sufficient.</span></p>
                    </div>
                    <div class="col text-end">
                        <a class="btn btn-outline-secondary shadow-sm col-auto" onclick="insertOtherPlacesLine()"><i class="bi-plus-circle-dotted"></i> <span data-lsbq-tr="base.addLine">Add line</span></a>
                    </div>
                </div>
            </section>

            <!-- 9. Level of education -->
            <section class="m-4">
                <fieldset id="levelOfEducation">
                    <div class="row">
                        <legend class="col-form-label col-auto pt-0" data-lsbq-tr="lsb.levelOfEducation">Please indicate the highest level of education you have achieved:</legend>
                    </div>
                    <div class="row-mb-3">
                        <div class="col ms-5">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="education_level" id="levelOfEducation1" value="1" required />
                                <label class="form-check-label" for="levelOfEducation1" data-lsbq-tr="base.levelOfEducation1">EQF Level 1</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="education_level" id="levelOfEducation2" value="2" required />
                                <label class="form-check-label" for="levelOfEducation2" data-lsbq-tr="base.levelOfEducation2">EQF Level 2-3</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="education_level" id="levelOfEducation3" value="3" required />
                                <label class="form-check-label" for="levelOfEducation3" data-lsbq-tr="base.levelOfEducation3">EQF Level 4</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="education_level" id="levelOfEducation4" value="4" required />
                                <label class="form-check-label" for="levelOfEducation4" data-lsbq-tr="base.levelOfEducation4">EQF Level 5-6</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="education_level" id="levelOfEducation5" value="5" required />
                                <label class="form-check-label" for="levelOfEducation5" data-lsbq-tr="base.levelOfEducation5">EQF Level 7-8</label>
                                <div class="invalid-feedback invalid-radio" data-lsbq-tr="lsb.levelOfEducationFeedback">Please indicate the highest level of education from the list that you have achieved (or the approximate equivalent).</div>
                            </div>
                        </div> 
                    </div>
                </fieldset>
            </section>

            <!-- Form submission -->
            <div class="row text-end p-3 m-4">
                <div clas="col">
                    <button type="submit" class="btn btn-primary btn-lg btn-action shadow" data-lsbq-tr="base.next">Next</button>
                </div>
            </div>

        </form>
    </article>
{% endblock %}
{% block tail_scripts %}
    <script type="text/javascript">
        // Require form validation
        lart.forms.requireValidation(true);

        // Initialise UI translation
        let instanceId = lart.forms.searchParams.get('instance');
        lart.tr.loadFromEel('lsbq', eel._lsbq_load_version, [instanceId, ['meta', 'base', 'lsb']]);
        lart.tr.registerObserver('lsbq', 'surveyLSBForm');
        lart.tr.registerObserver('lsbq', 'lsbqSectionTitle');
        lart.tr.registerObserver('lsbq', 'lsbqAppTitle');

        // Set up repeats for "other places" fields
        let otherPlacesCounter = 0;
        function insertOtherPlacesLine() {
            const placeNumber = otherPlacesCounter++;
            const template = document.getElementById('otherPlacesTemplate');
            const slot = document.getElementById('otherPlacesSlot');
            const clone = template.content.cloneNode(true);
            // Replaces [PlaceNumber] in 'id', 'for', and 'name' attrs
            function numberReplacer(node) {
                if (node instanceof HTMLElement) {
                    if (node.hasAttribute('id')) node.setAttribute('id', node.getAttribute('id').replace('[PlaceNumber]', placeNumber));
                    if (node.hasAttribute('for')) node.setAttribute('for', node.getAttribute('for').replace('[PlaceNumber]', placeNumber));
                    if (node.hasAttribute('name')) node.setAttribute('name', node.getAttribute('name').replace('[PlaceNumber]', placeNumber));
                }
                if ( node.hasChildNodes() ) {
                    for (const child of node.childNodes) {
                        numberReplacer(child);
                    }
                }
            }
            numberReplacer(clone);
            // Append to slot
            slot.appendChild(clone);
            // Make input required dependent on otherPlacesName presence
            lart.forms.conditionalRequire(`otherPlacesName-${placeNumber}`, `otherPlacesFrom-${placeNumber}`, '', lart.forms.conditionMatcherCondition.NOT_EQUAL);
            lart.forms.conditionalRequire(`otherPlacesName-${placeNumber}`, `otherPlacesTo-${placeNumber}`, '', lart.forms.conditionMatcherCondition.NOT_EQUAL);
            // Make input required dependent on otherPlacesFrom presence
            lart.forms.conditionalRequire(`otherPlacesFrom-${placeNumber}`, `otherPlacesName-${placeNumber}`, '', lart.forms.conditionMatcherCondition.NOT_EQUAL);
            lart.forms.conditionalRequire(`otherPlacesFrom-${placeNumber}`, `otherPlacesTo-${placeNumber}`, '', lart.forms.conditionMatcherCondition.NOT_EQUAL);
            // Make input required dependent on otherPlacesTo presence
            lart.forms.conditionalRequire(`otherPlacesTo-${placeNumber}`, `otherPlacesName-${placeNumber}`, '', lart.forms.conditionMatcherCondition.NOT_EQUAL);
            lart.forms.conditionalRequire(`otherPlacesTo-${placeNumber}`, `otherPlacesFrom-${placeNumber}`, '', lart.forms.conditionMatcherCondition.NOT_EQUAL);
            // Make otherPlaces lines deletable
            const deleteButton = document.getElementById(`otherPlacesDelete-${placeNumber}`);
            if ( placeNumber ) {
                deleteButton.addEventListener(
                    'click',
                    function () {
                        document.getElementById(`otherPlaces-${placeNumber}`).remove();
                    }
                );
            } else {
                deleteButton.remove();
            }
        }
        insertOtherPlacesLine();
    </script>
    {{ lart_form_pipeline('surveyLSBForm', '_lsbq_setlsb') }}
{% endblock %}