<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/lart-custom.css">
    {% block head_styles %}{% endblock %}

    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    {% block head_scripts %}{% endblock %}
</head>
<body>

    <header>
        <div class="container-fluid bg-primary text-light text-center p-2">
            <button id="nav-drawer-toggle" class="navbar-toggler text-light" data-bs-toggle="collapse" data-bs-target="#nav-drawer" aria-controls="nav-drawer" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-list"></i></button>
            <h1>{% block headline %}{% endblock %}</h1>
        </div>
        <div id="nav-drawer" class="collapse">
            <div id="nav-header" class="container-fluid bg-primary text-light p-3" data-bs-toggle="collapse" data-bs-target="#nav-drawer" aria-controls="nav-drawer" aria-expanded="true" aria-label="Toggle navigation">
                <p class="fs-4">LART Survey Client</p>
                {% block drawer_info %}{% endblock %}
            </div>
            <nav class="navbar sticky-top navbar-light bg-light">
                <ul class="nav flex-column">
                    {% block drawer_nav_options %}{% endblock %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"><i class="bi bi-arrow-repeat"></i> Synch now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#aboutModal"><i class="bi bi-info-circle"></i> About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="aboutModalLabel">About the LART Survey App</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  This app is currently being developed by the Language Attitudes Research Team at Bangor University. They're hopeful that they'll have it working soon..
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </footer>

    <script type="text/javascript">
        // Disable form submissions if there are invalid fields
        (function () {
        'use strict'
    
        // Fetch all the forms that need validation
        var forms = document.querySelectorAll('.needs-validation');
    
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.setAttribute('novalidate', true);
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false)
            })
        })();
    </script>
    {% block tail_scripts %}{% endblock %}
</body>
</html>