
{%- extends 'base.html' %}
{% block title %}LART Survey Client{% endblock %}
{% block headline %}LART Survey Client{% endblock %}
{% block head_scripts %}
{% endblock %}
{% block head_styles %}{% endblock %}
{% block drawer_info %}{% endblock %}
{% block content %}
    <article class="p-2">
        <div class="container-fluid text-center p-2">
            <h2>Thank you for completing the questionnaire!</h2>
        </div>
        <div class="container-fluid text-center p-2">
            <h4>Please begin the memory task when you're ready</h4>
        </div>
        <div class="container-fluid text-center p-2">
            <p></p>
        </div>
        <div class="container-fluid text-center p-2">
            <a class="btn btn-primary fs-5 p-2" style="min-width:50%" href="../memory-game/index.html">Begin memory task>></a>
        </div>
         </article>
{% endblock %}