{% extends 'base.html' %}
{% set eel_forms = true %}
{% block title %}LART Survey Client - AToL-RML - Language Questionnaire {% endblock %}
{% block headline %}Language Questionnaire{% endblock %}
{% block head_scripts %}
<script type="text/javascript">
    atolInstanceId = parseInt(lart.forms.searchParams.get('instance'));

//function loadAtolItems() {
   availableItems = await eel.atol_c_items()(); //(populateAtolItems);

  //  }

   // function populateAtolItems(atolLabels) {
//      select = document.getElementById('selectSurveyVersion');
        //for(atolLabel in atolLabels) {
     //       document.write(atolLabel);
//          option = document.createElement('option');
//            option.setAttribute('value', version);
//            option.appendChild(document.createTextNode(versions[version]))
//            select.appendChild(option);

    //    }
   // }

</script>
{% endblock %}
{% block head_styles %}{% endblock %}
{% block drawer_info %}{% endblock %}
{% block drawer_nav_options %}
    <li class="nav-item">
        <a class="nav-link" onClick="discard_attempt()"><i class="bi bi-x-circle"></i>  Discard attempt</a>
    </li>
    <li><hr class="nav-divider"></li>
{% endblock %}
{% block content %}
    <article class="p-2">
        <div class="container-fluid p-2 text-center">
            <h2>AToL: Language Questionnaire (RML)</h2>
        </div>

        <div class="h-25 d-inline-block" style="width: 120px;"><!--place holder--></div>
        
        <div class="container-fluid p-2 text-center"><h5>Please use the sliders to record your choices</h5></div>
        <div class="h-25 d-inline-block" style="width: 120px;"><!--place holder--></div>
        <div class="container-fluid p-2 text-center">
            <h4>The English language is...</h4>
        </div>
        <form id="surveyAtolForm" class="p-2 needs-validation">
            <fieldset class="row mb-3">
                <div class="col-sm-12">
                    <div class="form-check">
                     <!-- 1. English logical-illogical -->
                     <label for="English_logical" class="form-label"> </label>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-sm-3">
                                    <script type="text/javascript">
                                   document.write(availableItems);
                                   //document.write("testing");
                                    //populateAtolItems();
                                    </script>
                                </div>
                                <div class="col-sm-6"></div>
                                <div class="col-sm-3">illogical</div>
                              </div>  
                        </div>
                        <input type="range" class="form-range" id="English_logical"> 
                    </div>
                </div>
            </fieldset>                    
                  
            
            <div class="mb-3">
                
                
                <div class="form-check">
                    <div class="invalid-feedback">
                
                    </div>
                </div>
            </div>
            <div class="mb-3 text-center p-3">
                <button type="submit" class="btn btn-primary btn-lg btn-action">Next</button>
            </div>
        </form>
    </article>
{% endblock %}
{% block tail_scripts %}{% endblock %}
