{% extends 'base.html' %}
{% set eel_forms = true %}
{% block title %}LART Survey Client - LSBQ-RML - Language and Social Background{% endblock %}
{% block headline %}Language and Social Background{% endblock %}
{% block head_scripts %}
<script type="text/javascript">
    lsbqRmlInstanceId = parseInt(lart.forms.searchParams.get('instance'));
</script>
{% endblock %}
{% block head_styles %}{% endblock %}
{% block drawer_info %}{% endblock %}
{% block drawer_nav_options %}
    <li class="nav-item">
        <a class="nav-link" onClick="discard_attempt()"><i class="bi bi-x-circle"></i>  Discard attempt</a>
    </li>
    <li><hr class="nav-divider"></li>
{% endblock %}
{% block content %}
    <article class="p-2">
        <div class="container-fluid p-2 text-center">
            <h2>Language and Social Background Questionnaire (RML)</h2>
        </div>
        <form id="surveyLSBForm" class="p-2 needs-validation" autocomplete="off">

            <!-- 1. Sex -->
            <fieldset class="row mb-3" required>
                <legend class="col-form-label col-auto pt-0">Sex:</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sex" id="sexFemale" value="F" />
                        <label class="form-check-label" for="sexFemale">Female</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sex" id="sexMale" value="M" />
                        <label class="form-check-label" for="sexMale">Male</label>
                    </div>
                    <div class="form-check col-auto">
                        <input class="form-check-input" type="radio" name="sex" id="sexOther" value="O" />
                        <label class="form-check-label" for="sexOther">Other:</label>
                        <input id="sexOtherSpecify" class="form-control form-control-sm d-inline w-25" style="min-width:10rem" type="text" placeholder="Specify..." aria-label="Specify sex, if other." />
                        <script type="text/javascript">lart.forms.conditionalRequire('sexOther', 'sexOtherSpecify');</script>
                    </div>
                </div>
            </fieldset>

            <!-- 2. Occupation -->
            <div class="row mb-3">
                <label for="occupation" class="col-form-label col-auto">Occupation:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="occupation" required />
                </div>
            </div>

            <!-- 3. Handedness -->
            <fieldset class="row mb-3" required>
                <legend class="col-form-label col-auto pt-0">Handedness:</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="handedness" id="handednessLeft" value="L" />
                        <label class="form-check-label" for="handednessLeft">Left</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="handedness" id="handednessRight" value="R" />
                        <label class="form-check-label" for="handednessRight">Right</label>
                    </div>
                </div>
            </fieldset>

            <!-- 4. Date of birth -->
            <div class="row mb-3">
                <label for="dateOfBirth" class="col-form-label col-sm-auto">Date of birth:</label>
                <div class="col-sm-auto">
                  <input type="date" class="form-control" id="dateOfBirth" min="1922-01-01" required />
                  <script type="text/javascript">booteel.DOM.setAttribute('dateOfBirth', 'max', booteel.today.iso.YEAR_MONTH_DAY);</script>
                </div>
            </div>

            <!-- 5. Hearing problems -->
            <fieldset class="row mb-3" required>
                <legend class="col-form-label col-sm-auto pt-0">Do you have hearing problems?</legend>
                <div class="col-sm-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="hearingProblemYN" id="hearingProblemYes" value="yes" />
                        <label class="form-check-label" for="hearingProblemYes">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="hearingProblemYN" id="hearingProblemNo" value="no" />
                        <label class="form-check-label" for="hearingProblemNo">No</label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="row mb-3 ms-5" id="hearingAid">
                <legend class="col-form-label col-sm-auto pt-0">If <strong>yes</strong>, do you wear a hearing aid?</legend>
                <div class="col-sm-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="hearingYN" id="hearingAidYes" value="yes" />
                        <label class="form-check-label" for="hearingYes">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="hearingAidYN" id="hearingAidNo" value="no" />
                        <label class="form-check-label" for="hearingAidNo">No</label>
                    </div>
                </div>
            </fieldset>
            <script type="text/javascript">
                lart.forms.conditionalRequire('hearingProblemYes', 'hearingAid');
                lart.forms.conditionalDisplay('hearingProblemYes', 'hearingAid');
            </script>

            <!-- 6. Vision problems -->
            <fieldset class="row mb-3" required>
                <legend class="col-form-label col-sm-auto pt-0">Do you have vision problems?</legend>
                <div class="col-sm-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="visionProblemYN" id="visionProblemYes" value="yes" />
                        <label class="form-check-label" for="visionProblemYes">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="visionProblemYN" id="visionProblemNo" value="no" />
                        <label class="form-check-label" for="visionProblemNo">No</label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="row mb-3 ms-5" id="visionProblemGlasses">
                <legend class="col-form-label col-sm-auto pt-0">If <strong>yes</strong>, do you wear glasses/contacts?</legend>
                <div class="col-sm-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="visionGlassesYN" id="visionGlassesYes" value="yes" />
                        <label class="form-check-label" for="visionGlassesYes">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="visionGlassesYN" id="visionGlassesNo" value="no" />
                        <label class="form-check-label" for="visionGlassesNo">No</label>
                    </div>
                </div>
            </fieldset>
            <script type="text/javascript">
                lart.forms.conditionalRequire('visionProblemYes', 'hearingProblemFurtherDetail');
                lart.forms.conditionalDisplay('visionProblemYes', 'hearingProblemFurtherDetail');
            </script>
            <fieldset class="row mb-3 ms-5" id="visionProblemCorrected">
                <legend class="col-form-label col-sm-auto pt-0">Do they correct your vision to normal?</legend>
                <div class="col-sm-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="visionCorrectedYN" id="visionCorrectedYes" value="yes" />
                        <label class="form-check-label" for="visionGlassesYes">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="visionCorrectedYN" id="visionCorrectedNo" value="no" />
                        <label class="form-check-label" for="visionCorrectedNo">No</label>
                    </div>
                </div>
            </fieldset>
            <script type="text/javascript">
                lart.forms.conditionalRequire('visionGlassesYes', 'visionProblemCorrected');
                lart.forms.conditionalDisplay('visionGlassesYes', 'visionProblemCorrected');
            </script>

            <!-- 7. Place of birth -->
            <div class="row mb-3">
                <label for="placeOfBirth" class="col-form-label col-auto">Place of birth:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="placeOfBirth" required />
                </div>
            </div>

            <!-- Form submission -->
            <div class="container-fluid text-end p-3">
                <button type="submit" class="btn btn-primary btn-lg btn-action shadow">Next</button>
            </div>

        </form>
    </article>
{% endblock %}
{% block tail_scripts %}{% endblock %}