* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

svg {
	display: block;
}

.game {
	$this: &;

	min-width: 575px;
	height: 100vh;
	background: #2F4274;
	display: flex;
	align-items: center;
	justify-content: center;

	&__cards {
		width: 720px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-auto-rows: 100px;
		grid-gap: 20px;
		padding: 0 20px;

		&.no-event {
			pointer-events: none;
		}
	}

	&__card {
		position: relative;
		cursor: pointer;
		perspective: 700px;

		&.flipped, &.has-match {
			pointer-events: none;

			#{$this}__back-card {
				transform: rotateY(180deg);
			}

			#{$this}__front-card {
				transform: rotateY(360deg);
			}
		}
	}

	&__back-card, &__front-card {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: #F27922;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		backface-visibility: hidden;
		transition: transform 400ms;
	}

	&__back-card {
		z-index: 1;
	}

	&__front-card {
		transform: rotateY(180deg);
	}
}

.footer {
	text-align: center;
	padding: 5px 0;
	color: #ccc;
	background: #333;
	
	a {
		color: #21a1e1;
		text-decoration: none;
	}
}